<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";
?>
<div class="pathPage" style="padding-top: 10px">
    <a href="/">Главная</a> » <a
        href="/search">Поиск</a>

    <h1 id="head">Поиск</h1>
</div>

<form action="" method="post">

    <div class="list-item" style="margin-bottom: 10px">
        <article>
            <header>
                Строка или подстрока, которую ищем
            </header>
            <br>

            <div class="formField">
                <div class="value">
                    <input type="text" name="value" value="<?php echo $_POST['value'] ?>" maxlength="200">
                </div>
            </div>
            <br>

            <header>
                Раздел, в котором искать
            </header>
            <br>

            <div class="value" style="margin: 20px">
                <?php

                $data = array(
                    array('name' => 'Товары', 'razd' => 'product'),
                    array('name' => 'Новости', 'razd' => 'news'),
                    array('name' => 'Статьи', 'razd' => 'articles'),
                );

                $select = new \Kendo\UI\DropDownList('razd');
                $select->dataSource($data)
                    ->dataTextField('name')
                    ->value($_POST['razd'])
                    ->dataValueField('razd');
                echo $select->render();
                ?>

                <div class="btns" style="margin-top: 30px;">
                    <input type="submit" value="Искать">
                </div>
            </div>

        </article>
    </div>
</form>
    <?php

    if ($content == null) {
        ?>

        <div class="noMessages">
            <h1>К сожалению, ничего не было найдено</h1>
            Попробуйте задать другие критерии поиска
        </div>

        <?
    } else {
        $leftArray = array();
        $rightArray = array();

        $count = count($content);

        if($_POST['razd'] === 'product')
            $_POST['razd'] = 'products';

        $i = 0;
        foreach ($content as $value) {
            if ((int)($count / 2) > $i)
                $leftArray[] = $value;
            else {
                $rightArray[] = $value;
            }
            $i++;
        }
        ?>


        <div class="ser_container">
            <main class="ser_content">
                <?php
                if ($leftArray != null) {
                    foreach ($leftArray as $product) {
                        ?>

                        <div class="list-item">
                            <article>
                                <table>
                                    <tr>
                                        <td style="width: 200px">
                                            <img
                                                src="/resources/imagebrowser/<?php echo $_POST['razd'] . '/mini/' . $product['img'] ?>">
                                        </td>
                                        <td>
                                            <header>
                                                <a href="<?php echo $path . '/' . $product['id'] ?>"><?php echo $product['name'] ?></a>
                                            </header>
                                            <br>
                                            <br>
                                            <br>
                                            <footer>
                                                <div class="btns">
                                                    <a href="/products/select/<?php echo $product['id'] ?>">Подробнее</a>
                                                </div>
                                            </footer>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                        </div>
                    <?php }
                }
                ?>
                &nbsp;
            </main>
            <!-- .content -->
        </div><!-- .container-->

        <aside class="ser_left-sidebar">
            <?php
            if (count($rightArray) != 0) {
                foreach ($rightArray as $product) {
                    ?>

                    <div class="list-item">
                        <article>
                            <table>
                                <tr>
                                    <td style="width: 200px">

                                        <img
                                            src="/resources/imagebrowser/<?php echo $_POST['razd'] . '/mini/' . $product['img'] ?>">
                                    </td>
                                    <td>
                                        <header>
                                            <a href="<?php echo $path . '/' . $product['id'] ?>"><?php echo $product['name'] ?></a>
                                        </header>
                                        <br>
                                        <br>
                                        <br>
                                        <footer>
                                            <div class="btns">
                                                <a href="/products/select/<?php echo $product['id'] ?>">Подробнее</a>
                                            </div>
                                        </footer>
                                    </td>
                                </tr>
                            </table>
                        </article>
                    </div>
                <?php }
            }
            ?>
        </aside><!-- .left-sidebar -->


        <!-- .container-->
        <?php
    } ?>

    <script>
        $(".list-item:even()").css("background", "#f5f5f5");

        $(document).ready(
            function () {
                width = $(window).width();
                if (width < 800) {
                    $('.ser_left-sidebar').css({"margin-left": "0", "width": "100%"});
                    $('.ser_content').css({"padding-left": "0"});
                } else {
                    $('.ser_left-sidebar').css({"margin-left": "-100%", "width": "50%"});
                    $('.ser_content').css({"padding-left": "50%"});
                }
            }
        );


        $(window).resize(function () {
            width = $(window).width();
            if (width < 800) {
                $('.ser_left-sidebar').css({"margin-left": "0", "width": "100%"});
                $('.ser_content').css({"padding-left": "0"});
            } else {
                $('.ser_left-sidebar').css({"margin-left": "-100%", "width": "50%"});
                $('.ser_content').css({"padding-left": "50%"});
            }
        });



    </script>

