<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link href="/content/css/web/kendo.common.min.css" rel="stylesheet"/>
    <link href="/content/css/web/kendo.default.min.css" rel="stylesheet"/>

    <script src="/content/js/jquery.min.js"></script>
    <script src="/content/js/kendo.all.min.js"></script>
    <script src="/content/js/kendo.timezones.min.js"></script>
    <script src="/content/shared/js/console.js"></script>
    <script src="/content/shared/js/prettify.js"></script>

    <link href="/content/css/flexslider.css" rel="stylesheet">

    <link href="/content/css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title><?php echo $title ?></title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45737538 = new Ya.Metrika({
                        id:45737538,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45737538" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

<header class="header">
    <div class="med1">

        <div class="h_container">
            <main class="h_content">
                <a href="/">
                    <img src="/resources/images/logo.jpg">
                </a>
            </main>
        </div>

        <aside class="h_right-sidebar">
            <div class="headBlock">
                <div class="topMenu">
                    <a href="/main/page/guarantee">Гарантия</a>
                    <a href="/main/page/payment">Оплата</a>
                    <a href="/main/page/delivery">Доставка</a>
                    <a href="/main/page/contact">Контакты</a>
                    <a href="/main/page/about">О нас</a>
                </div>
                <div class="head_info">
                    Санкт-Петербург<br>
                    Телефон: +7 (921) 551-56-85
                </div>

                <div class="sh_c">
                    <a href="/products/shopping_cart" id="shopping_cart"><?php echo $shop ?></a>
                </div>
            </div>
        </aside>
    </div>
</header>


<div class="wrapper">

    <div class="middle">
        <?php include 'application/templates/' . $content_view; ?>
    </div>
    <!-- .middle-->
    <div class="sliderMiddle">
        <div class="mainArticles" style="">
            <div style="height: 50px; padding: 0 50px">

            </div>
        </div>
    </div>


</div>
<!-- .wrapper -->

<footer class="footer">

    <div class="foot">
        <div class="footInfo">
            <table>
                <tr>
                    <td>
                        <table class="tbl2">
                            <tr>
                                <td style="width: 130px">Мы в соц сетях:</td>
                                <td>
                                    <a href="https://vk.com/shopvelokosmos"><img src="/resources/images/vk.png"></a>
                                    <a href="https://www.instagram.com/velokosmos/"><img src="/resources/images/fb.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: right">
                        Телефон: +7 (921) 551-56-85
                    </td>
                </tr>

            </table>
        </div>

        <div class="footFoot">
            © 2017 Велокосмос. Все права защищены.
        </div>
    </div>
</footer>
<script defer src="/content/js/jquery.flexslider.js"></script>

<!-- .footer -->
</body>
</html>