<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>

<h1 id="head">Настройка связи категория-фильтры</h1>

<form action="" method="post" class="mainMenu" style="margin-top: 20px">

    <table style="width: 100%">
        <tr>
            <td style="width: 50px">
                <b>№</b>
            </td>
            <td>
                <b>Название категории</b>
            </td>
            <td>
                <b>Ключ (ссылка)</b>
            </td>
        </tr>
        <tr>
            <td style="width: 50px">
                <?php echo $content['cat_info']['id'] ?>
            </td>
            <td>
                <?php echo $content['cat_info']['name'] ?>
            </td>
            <td>
                <?php echo $content['cat_info']['c_key'] ?>
            </td>
        </tr>
    </table>

    <br><br>

    <h1 id="head">Фильтры этой категории:</h1>
    <br><br>

    <table style="width: 100%">
        <tr>
            <td style="width: 50px">
                <b>№</b>
            </td>
            <td>
                <b>Фильтр</b>
            </td>
        </tr>
        <?php
        foreach ($content['cat_filter'] as $key => $filter) {
            ?>

            <tr>
                <td style="width: 50px">
                    <?php echo $filter['id'] ?>
                    <input type="hidden" value="<?php echo $filter['id'] ?>" name="<?php echo "id_{$filter['id']}" ?>">
                </td>
                <td>
                    <?php
                    $str = "cat_" . $filter['id'];
                    $select = new \Kendo\UI\DropDownList($str);
                    $select->dataSource($content['all_filter'])
                        ->dataTextField('name')
                        ->dataValueField('id')
                        ->value($filter['id_filter_type']);
                    echo $select->render();

                    ?>
                </td>
            </tr>

            <?php
        } ?>

        <tr>
            <td style="width: 50px">
                New
                <?php ++$filter['id'] ?>
                <input type="hidden" value="<?php echo $filter['id'] ?>" name="<?php echo "id_{$filter['id']}" ?>">
            </td>
            <td>
                <?php
                $str = "cat_" . $filter['id'];
                $select = new \Kendo\UI\DropDownList($str);
                $select->dataSource($content['all_filter'])
                    ->dataTextField('name')
                    ->dataValueField('id')
                    ->value("");
                echo $select->render();

                ?>
            </td>
        </tr>
    </table>
    <br><br>

    <input type="submit" value="Сохранить">

</form>

<script>
    $("tr:odd").css("background", "#f5f5f5");
</script>