<h1 id="head"><?php echo $header ?></h1>

<form action="" method="post" id="frm">

    <div class="formField">
        <div class="padd">
            <h3>Заголовок:</h3>
            <span>Должен кратко описывать содержимое новости или статьи.</span><br>
        </div>
        <div class="value">
            <input name="header" type="text" placeholder="Длинна от 5 до 100" maxlength="100"
                   value="<?php echo $content['name'] ?>">
        </div>

        <div class="padd">
            <h3>Содержимое:</h3>
            <span>Здесь могут быть картинки, файлы, таблицы или же форматированный текст. Главное, чтобы всего было в меру.</span><br>
        </div>
        <div class="value">

            <?php

            require_once '/application/kendo/lib/Kendo/Autoload.php';

            $editor = new \Kendo\UI\Editor('editor');

            $editor->addTool(
                "bold", "italic", "underline", "strikethrough",
                "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                "insertUnorderedList", "insertOrderedList", "indent", "outdent",
                "createLink", "unlink", "insertImage", "insertFile",
                "subscript", "superscript",
                "createTable", "addRowAbove", "addRowBelow", "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn",
                "viewHtml",
                "formatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor"
            );


            $imageBrowser = new \Kendo\UI\EditorImageBrowser();

            $imageBrowser_transport = new \Kendo\UI\EditorImageBrowserTransport();
            $imageBrowser_transport->thumbnailUrl('/application/kendo/transport/ImageBrowser.php?action=thumbnail');
            $imageBrowser_transport->uploadUrl('/application/kendo/transport/ImageBrowser.php?action=upload');
            $imageBrowser_transport->imageUrl('/application/kendo/transport/ImageBrowser.php?action=image&path={0}');

            $imageBrowser_transport->read('/application/kendo/transport/ImageBrowser.php?action=read');
            $imageBrowser_destroy = new \Kendo\UI\EditorImageBrowserTransportDestroy();
            $imageBrowser_destroy
                ->url('/application/kendo/transport/ImageBrowser.php?action=destroy')
                ->type('POST');
            $imageBrowser_transport->destroy($imageBrowser_destroy);
            $imageBrowser_create = new \Kendo\UI\EditorImageBrowserTransportCreate();
            $imageBrowser_create
                ->url('/application/kendo/transport/ImageBrowser.php?action=create')
                ->type('POST');
            $imageBrowser_transport->create($imageBrowser_create);
            $imageBrowser->transport($imageBrowser_transport);

            $editor->imageBrowser($imageBrowser);


            $fileBrowser = new \Kendo\UI\EditorFileBrowser();

            $fileBrowser_transport = new \Kendo\UI\EditorFileBrowserTransport();
            $fileBrowser_transport->uploadUrl('/application/kendo/transport/FileBrowser.php?action=upload');
            $fileBrowser_transport->fileUrl('/application/kendo/transport/FileBrowser.php?action=file&path={0}');

            $fileBrowser_transport->read('/application/kendo/transport/FileBrowser.php?action=read');
            $fileBrowser_destroy = new \Kendo\UI\EditorFileBrowserTransportDestroy();
            $fileBrowser_destroy
                ->url('/application/kendo/transport/FileBrowser.php?action=destroy')
                ->type('POST');
            $fileBrowser_transport->destroy($fileBrowser_destroy);
            $fileBrowser_create = new \Kendo\UI\EditorFileBrowserTransportCreate();
            $fileBrowser_create
                ->url('/application/kendo/transport/FileBrowser.php?action=create')
                ->type('POST');
            $fileBrowser_transport->create($fileBrowser_create);
            $fileBrowser->transport($fileBrowser_transport);

            $editor->fileBrowser($fileBrowser);
            $editor->encoded(false);


            $editor
                ->attr('style', 'height:440px')
                ->content($content['text']);

            echo $editor->render();
            ?>
        </div>

        <div class="padd">
            <h3>Маленькое изобраение:</h3>
            <span>Сохранять в папку <?php echo $path?>/mini/</span><br>
        </div>
        <div class="value">
            <input name="img" type="text" placeholder="Длинна от 5 до 100" maxlength="200"
                   value="<?php echo $content['img'] ?>">
        </div>


    </div>


</form>
<div class="formField">
    <div class="padd">
        <h3>Сохранить:</h3>
        <span>Проверьте, все ли верно: Заголовок должен содержать минимум 5 симоволов, а в содержимом не должно быть слишком много "мусора". Учитывайте, что на разных экранах ваши картинки и все остальное будет отображаться по-разному.</span><br>
    </div>
    <div class="value">
        <?php
        $btn = new \Kendo\UI\Button('Save');
        $btn->content('Сохранить')
            ->click('onFormSubm');

        echo $btn->render();

        if ($content['date'] != null)
            echo '<i>Дата создания: ' . $content['date'] . '</i>';
        ?>
    </div>
</div>

<script>
    function onFormSubm(e) {
        var header = $("input[name=header]").val();
        var text = $("textarea").val();

        if (header.length < 5 || text.length < 10) {
            alert('Поля заполнены неверно!\nЗаголовок должен содержать минимим 5 символов, \nа содержимое - минимум 10.');
        } else {
            $("#frm").submit();

        }
    }
</script>
