<h1 id="head">Список типовых фильтров</h1>

<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>

<form action="" method="post" class="mainMenu" style="margin-top: 20px">

    <table style="width: 100%">
        <tr>
            <td style="width: 50px">
                <b>№</b>
            </td>
            <td>
                <b>Название</b>
            </td>
            <td>
                <b>Краткое описание</b>
            </td>
            <td>
                <b>Отображение</b>
            </td>
        </tr>

        <?php

        foreach ($content as $key => $man) {
            ?>
            <tr>
                <td>
                    <?php echo $man['id'] ?>
                    <input type="hidden" value="<?php echo $man['id'] ?>" name="<?php echo "id_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['name'] ?>" name="<?php echo "name_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['other'] ?>" name="<?php echo "other_$key" ?>">
                </td>
                <td>
                    <?php
                    $name = "view_$key";
                    $data = array(
                        array(
                            'name' => 'Не использовать',
                            'value' => 0
                        ),
                        array(
                            'name' => 'Отображать как цвет',
                            'value' => 1
                        ),
                        array(
                            'name' => 'Отображать в рамке',
                            'value' => 2
                        ),
                    );

                    $cb = new \Kendo\UI\ComboBox($name);
                    $cb->dataSource($data)
                        ->dataTextField('name')
                        ->value($man['view'])
                        ->noDataTemplate('ничего не найдено')
                        ->dataValueField('value')
                        ->clearButton(false);
                    echo $cb->render();
                    ?>
                </td>
            </tr>
            <?php
        } ?>
        <tr>

            <td>
                <?php
                echo ++$man['id'];
                $key++;
                ?>
                <input type="hidden" value="<?php echo ++$man['id'] ?>" name="<?php echo "id_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "name_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "other_$key" ?>">
            </td>
            <td>
                <?php
                $name = "view_$key";
                $data = array(
                    array(
                        'name' => 'Не использовать',
                        'value' => 0
                    ),
                    array(
                        'name' => 'Отображать как цвет',
                        'value' => 1
                    ),
                    array(
                        'name' => 'Отображать в рамке',
                        'value' => 2
                ),
                );

                $cb = new \Kendo\UI\ComboBox($name);
                $cb->dataSource($data)
                    ->dataTextField('name')
                    ->value(0)
                    ->noDataTemplate('ничего не найдено')
                    ->dataValueField('value')
                    ->clearButton(false);
                echo $cb->render();
                ?>
            </td>
        </tr>
    </table>

    <br><br>

    <input type="submit" value="Сохранить">

</form>

<script>
    $("tr:odd").css("background", "#f5f5f5");
</script>