<h1 id="head"><?php echo $header ?></h1>
<br>
<input type="hidden" id="page_id" value="<?php echo $list ?>">

<form method="post" action="" id="list">
    <input type="hidden" name="deleted" id="deleted_fld" value="">

    <?php
    require_once '/application/kendo/lib/Kendo/Autoload.php';


    $dataSource = new \Kendo\Data\DataSource();
    $dataSource->data($content);


    $idColumn = new \Kendo\UI\GridColumn();
    $idColumn->title('ID')
        ->field('id')
        ->width(50);

    $headerColumn = new \Kendo\UI\GridColumn();
    $headerColumn->title('Заголовок')
        ->field('name');

    $dateColumn = new \Kendo\UI\GridColumn();
    $dateColumn->title('Дата')
        ->field('date')
        ->width(160);


    $openItem = new \Kendo\UI\GridColumnCommandItem();
    $openItem->name('Редактировать')
        ->click('openClick');

    $deleteItem = new \Kendo\UI\GridColumnCommandItem();
    $deleteItem->name('Удалить')
        ->click('deleteClick');


    $command = new \Kendo\UI\GridColumn();
    $command->addCommandItem($openItem)
        ->addCommandItem($deleteItem)
        ->width(189)
        ->title('Действия');


    $pageable = new \Kendo\UI\GridPageable();
    $pageable->pageSize(20);
    $pageable->pageSizes(true);


    $grid = new \Kendo\UI\Grid('grid');
    $grid->addColumn($idColumn, $headerColumn, $dateColumn, $command)
        ->dataSource($dataSource)
        ->navigatable(true)
        ->sortable(true)
        ->scrollable(false)
        ->pageable($pageable);

    echo $grid->render();

    ?>

    <br>


    <?php
    $add = new \Kendo\UI\Button('add');
    $add->tag('a')
        ->attr('href', "/admin/new/$list")
        ->content('Добавить');

    echo $add->render();
    ?>

</form>

<script>
    function openClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        var list = $("#page_id").val();
        var path = "http://shop-new/admin/editor/" + list + "/" + id;

        // WARNING!!!!!!! PATH

        location = path;
        document.location.href = path;
        location.replace(path);
        window.location.reload(path);
        document.location.replace(path);
    }

    function deleteClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        if (confirm('Вы уверены, что хотите удалить этот объект?')) {
            var frm = $("#list");
            frm.find("input[name=deleted]").val(id);
            frm.submit();
        }
    }
</script>
