<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>
<h1 id="head">Вход в админпанель</h1>
<form action="" method="post">

    <div class="formField">
        <div class="padd">
            <h3>Логин</h3>
        </div>
        <div class="value">
            <input type="text" name="login" value="" maxlength="200">
        </div>

        <div class="padd">
            <h3>Пароль</h3>
        </div>
        <div class="value">
            <input type="text" name="pass" value="" maxlength="200">
        </div>

    </div>

    <div class="formField">
        <div class="padd">
            <h3>Нажмите кнопку</h3>
        </div>
        <div class="value">
            <input type="submit" value="Войти">
        </div>
    </div>


</form>
