<h1 id="head">Админпанель: главная страница</h1>

<div class="formField">
    <div class="padd">
        <h3>New</h3>
        <span>Все настройки, относящиеся к главной странице сайта</span><br>
    </div>
    <div class="value">
        <a href="/admin/manufactorer">Производители</a><br><br>
        <a href="/admin/filter_type">Типы фильтров</a><br><br>
        <a href="/admin/product_category">Категории товаров</a><br><br>
        <a href="/admin/product_list">Список всех товаров</a>
        <br><br>
        <a href="/admin/slider">Страница настройки слайдера</a> - Задание картинок и подписей для них, которые находятся в слайдере на главной странице.
        <br><br>
        <a href="/admin/obl">Настройка стоимости доставки</a> - название места и соответсвующая ему стоимость
        <br><br>
        <a href="/admin/sam">Самовывоз</a>

    </div>
</div>

<div class="formField">
    <div class="padd">
        <h3>Главная страница</h3>
        <span>Все настройки, относящиеся к главной странице сайта</span><br>
    </div>
    <div class="value">
        <a href="/admin/main_menu">Страница настройки меню</a> - Настройка пунктов и подпунктов бокового меню на главной странице.
        <br><br>
        <a href="/admin/slider">Страница настройки слайдера</a> - Задание картинок и подписей для них, которые находятся в слайдере на главной странице.
    </div>
</div>

<div class="formField">
    <div class="padd">
        <h3>Новости, статьи, гарантии, оплата, доставка, контакты, о нас</h3>
        <span>Все настройки, относящиеся к вышеречисленным пунктам</span><br>
    </div>
    <div class="value">
        <a href="/admin/list/articles">Список всех опубликованных статей</a> - Здесь можно удалить, отредактировать или же написать новую статью.
        <br><br>
        <a href="/admin/list/news">Список всех опубликованных новостей</a> - Здесь можно удалить, отредактировать или же написать новую новость.
        <br><br>
        <a href="/admin/setting">Настройки количества статей\новостей на одну страницу</a> - Здесь задается количество обектов на одну страницу.
        <br><br>
        <a href="/admin/list/site_content">Страница редактирования спец страниц</a> - К ним относятся страницы: гарантии, оплата, доставка, контакты, о нас.
    </div>
</div>

<div class="formField">
    <div class="padd">
        <h3>Товары, корзина</h3>
        <span>Все настройки, относящиеся списку товаров, товарам и оформлению заказа</span><br>
    </div>
    <div class="value">
        <a href="/admin/orders">Список всех заказов</a> - Все поступившие за все время заказы.
        <br><br>
        <a href="/admin/product_list">Список всех товаров</a> - Здесь можно удалить, отредактировать или же создать новый товар.
        <br><br>
        <a href="/admin/obl">Настройка стоимости доставки</a> - название места и соответсвующая ему стоимость
        <br><br>


        <a href="/admin/otz">Список всех отзывов</a> - Все отзывы ко всем товарам. Неприятные можно удалить
        <br><br>
        ----<a href="/admin/category">Настройка категорий товаров</a> - Здесь можно удалить или же создать новую категорию, задав необходимые фильтры.
        <br><br>
        <a href="/admin/setting">Настройки количества товаров на одну страницу</a> - Здесь задается количество обектов на одну страницу.
        <br><br>
        <a href="/admin/setting">Стоимость доставки</a> - Настройки стоимости доставки.
    </div>
</div>

<div class="formField">
    <div class="padd">
        <h3>Остальное</h3>
        <span>Разная всячина</span><br>
    </div>
    <div class="value">
        <a href="/admin/bad_login">Список неудачных попыток войти в систему</a> - Содержит в себе дату, IP и данные, которые пытались вбить для входа в админпанель
        <br><br>
        <a href="/admin/setting">Страница основных настроек сайта</a> - Кроме уже перечисленных пунктов, здесь можно закрыть сайт на обслуживание
        <br><br>
        <a href="/admin/exit">Выйти из админпанели</a> - Чтобы опять попасть на какую-либо страницу админпанели, придется ввести пароль
    </div>
</div>