<form action="" method="post" class="mainMenu">

    <?
    require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

    if (array_key_exists($page, $mainArray)) {
        ?>
        <a href="/admin/main_menu/">Назад</a>
        <hr>
        <?php
        $i = 0;
        foreach ($mainArray[$page] as $key => $path) {
            ?>
            <input type="text" value="<?php echo $key ?>" name="<?php echo "key_$i" ?>"> =>
            <?php
            $select = new \Kendo\UI\DropDownList("path_{$i}");
            $select->dataSource($category)
                ->dataTextField('name')
                ->dataValueField('c_key')
                ->value($path);
            echo $select->render();

            echo "<br><br>";
            $i++;
        }

        echo "<input type='text' value='' name='key_$i'>  => ";

        $select = new \Kendo\UI\DropDownList("path_{$i}");
        $select->dataSource($category)
            ->dataTextField('name')
            ->dataValueField('c_key');
        echo $select->render();

        echo "<br><br>";
        ?>
        <input type="hidden" name="hid" value="edit">


        <?php
    } else {
        echo "<input type='hidden' name='hid' value='add'>";

        $i = 0;

        foreach ($mainArray as $name => $value) {

            $path = urlencode($name);

            echo "<input type='text' name='main_$i' value='$name'><br>";

            foreach ($value as $key => $path) {
                echo "&nbsp;&nbsp;&nbsp;&nbsp;$key => $path<br>";
            }
            echo "<div style='padding-top: 10px'><a href='/admin/main_menu/$name'>Редактировать</a></div><br>";
            echo '<br>';

            $i++;
        }


        echo "<input type='text' name='main_$i' value=''><br><br>";


    }
    ?>

    <input type="submit" value="Сохранить">

</form>

