<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>

<h1 id="head">
    <a href="/admin/orders">Список заказов</a> >
    Заказ №<?php echo $content['id'] ?> от <?php echo $content['date']; ?></h1>

<form action="" method="post">

    <div class="formField">
        <div class="padd" style="font-size: 14px; line-height: 30px">
<br>
            <b>ФИО:</b> <?php echo $content['fio'] ?><br>

            <b>E-mail:</b> <?php echo $content['email'] ?><br>

            <b>Телефон:</b> <?php echo $content['phone'] ?><br>

            <b>Тип доставки:</b> <?php echo $content['type'] ?><br>

            <b>Место:</b> <?php echo $content['place'] ?><br>

            <?php echo $content['address'];
            echo "<b>IP:</b> {$content['ip']}";
            ?>
            <br>
            <br>
            <hr>
            <br>
            <?php
            if ($content['text'] != null) {

                $pr = json_decode($content['text'], true);

                $new = array();
                foreach ($pr['content'] as $value)
                    if (is_array($value))
                        $new[] = $value;


                echo '<table style="width: 100%">
        <tr>
            <td><b>№</b></td>
            <td><b>Наименование</b></td>
            <td><b>Артикул</b></td>
            <td><b>Кол-во</b></td>
            <td><b>Цена</b></td>
            <td><b>Сумма</b></td>
        </tr>';

                $i = 1;
                foreach ($new as $value) {

                    if (is_array($value)) {
                        echo " 
        <tr>
            <td>{$i}</td>
            <td>{$value['name']}</td>
            <td>{$value['article']}</td>
            <td>{$value['count']}</td>
            <td>" . (($value['act'] !== '0') ? $value['act'] : $value['price']) . ",00 руб.</td>
            <td>{$value['totalprice']},00 руб.</td>
        </tr>";
                        $i++;
                    }


                }



                if ($content['type'] === 'Самовывоз') {
                    echo " 
        <tr>
            <td>{$i}</td>
            <td>{$content['type']}</td>
            <td>-</td>
            <td>1</td>
            <td>0,00 руб</td>
            <td>0,00 руб</td>
        </tr>";

                } else {

                    $price = substr($content['place'], strpos($content['place'], "- ") + 2);
                    $price = (int)$price;

                    echo " 
        <tr>
            <td>{$i}</td>
            <td>Доставка Курьером</td>
            <td>-</td>
            <td>1</td>
            <td>$price,00 руб</td>
            <td>$price,00 руб</td>
        </tr>";
                }


                echo "</table>";

                $price = 0;

                if ($content['type'] === 'Доставка на дом') {
                    $price = substr($content['place'], strpos($content['place'], "- ") + 2);
                    $price = (int)$price;
                }

                $price = $price + $pr['content']['total'];

                echo "<br><b>Итоговая стоимость: </b>" . $price . ",00 руб. ";

            } else {
                echo 'ups.. error.';
            }

            ?>

            <br>
            <br>
            <hr>
            <br>

            <b>Состояние заказа:</b>
            <?php

            $cb = new \Kendo\UI\ComboBox('stat');
            $cb->dataSource(array())
                ->dataSource(array(
                    array('stat' => 'Новый заказ'),
                    array('stat' => 'Уточнение деталей'),
                    array('stat' => 'Выполнен'),
                ))
                ->dataTextField('stat')
                ->value($content['stat'])
                ->dataValueField('stat')
                ->noDataTemplate('ничего не найдено')
                ->clearButton(false);
            echo $cb->render();

            ?>
            <br><br>
            <b>Комментарии к заказу:</b>


            <div class="value">
                <textarea style="width: 60%; height: 200px;" name="comments"><?php echo $content['comment'] ?></textarea>
            </div>


        </div>

    </div>
    <br>
    <?php

    $btn = new \Kendo\UI\Button('btn');
    $btn->content('Сохранить изменения');

    echo $btn->render();

    ?>

</form>