<h1 id="head">Список заказов</h1>
<br>
<input type="hidden" id="page_id" value="<?php echo $list ?>">

<form method="post" action="" id="list">
    <input type="hidden" name="deleted" id="deleted_fld" value="">

    <?php
    require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";


    $dataSource = new \Kendo\Data\DataSource();
    $dataSource->data($content);


    $idColumn = new \Kendo\UI\GridColumn();
    $idColumn->title('ID')
        ->field('id')
        ->width(50);

    $typeColumn = new \Kendo\UI\GridColumn();
    $typeColumn->title('Получение товара')
        ->field('type');

    $statColumn = new \Kendo\UI\GridColumn();
    $statColumn->title('Состояние заказа')
        ->field('stat');

    $ipColumn = new \Kendo\UI\GridColumn();
    $ipColumn->title('IP заказчика')
        ->field('ip')
        ->width(100);

    $dateColumn = new \Kendo\UI\GridColumn();
    $dateColumn->title('Дата оформления')
        ->field('date')
        ->width(150);


    $openItem = new \Kendo\UI\GridColumnCommandItem();
    $openItem->name('Подробнее')
        ->click('openClick');

    $deleteItem = new \Kendo\UI\GridColumnCommandItem();
    $deleteItem->name('Удалить')
        ->click('deleteClick');


    $command = new \Kendo\UI\GridColumn();
    $command->addCommandItem($openItem)
        ->addCommandItem($deleteItem)
        ->width(169)
        ->title('Действия');


    $pageable = new \Kendo\UI\GridPageable();
    $pageable->pageSize(20);
    $pageable->pageSizes(true);


    $grid = new \Kendo\UI\Grid('grid');
    $grid->addColumn($idColumn, $statColumn, $typeColumn, $ipColumn, $dateColumn, $command)
        ->dataSource($dataSource)
        ->navigatable(true)
        ->sortable(true)
        ->scrollable(false)
        ->pageable($pageable);

    echo $grid->render();

    ?>


</form>

<script>
    function openClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        var path = "http://shop-new/admin/order_info/" + id;

        // WARNING!!!!!!! PATH

        location = path;
        document.location.href = path;
        location.replace(path);
        window.location.reload(path);
        document.location.replace(path);
    }

    function deleteClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        if (confirm('Вы уверены, что хотите удалить этот объект?')) {
            var frm = $("#list");
            frm.find("input[name=deleted]").val(id);
            frm.submit();
        }
    }
</script>
