<h1 id="head"><?php echo $header ?></h1>
<br>
<input type="hidden" id="page_id" value="<?php echo $list ?>">

<form method="post" action="" id="list">
    <input type="hidden" name="deleted" id="deleted_fld" value="">

    <?php
    require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";


    $dataSource = new \Kendo\Data\DataSource();
    $dataSource->data($content);


    $idColumn = new \Kendo\UI\GridColumn();
    $idColumn->title('ID')
        ->field('id')
        ->width(50);

    $headerColumn = new \Kendo\UI\GridColumn();
    $headerColumn->title('Имя')
        ->field('name');

    $otzColumn = new \Kendo\UI\GridColumn();
    $otzColumn->title('Отзыв')
        ->field('text');

    $ipColumn = new \Kendo\UI\GridColumn();
    $ipColumn->title('IP')
        ->field('ip')
        ->width(100);

    $dateColumn = new \Kendo\UI\GridColumn();
    $dateColumn->title('Дата')
        ->field('date')
        ->width(160);

    $deleteItem = new \Kendo\UI\GridColumnCommandItem();
    $deleteItem->name('Удалить')
        ->click('deleteClick');


    $command = new \Kendo\UI\GridColumn();
    $command->addCommandItem($deleteItem)
        ->width(85)
        ->title('Действия');


    $pageable = new \Kendo\UI\GridPageable();
    $pageable->pageSize(20);
    $pageable->pageSizes(true);


    $grid = new \Kendo\UI\Grid('grid');
    $grid->addColumn($idColumn, $headerColumn, $otzColumn, $ipColumn, $dateColumn, $command)
        ->dataSource($dataSource)
        ->navigatable(true)
        ->sortable(true)
        ->scrollable(false)
        ->pageable($pageable);

    echo $grid->render();

    ?>
</form>

<script>
    function deleteClick(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        if (confirm('Вы уверены, что хотите удалить этот объект?')) {
            var frm = $("#list");
            frm.find("input[name=deleted]").val(id);
            frm.submit();
        }
    }
</script>
