<h1 id="head"><?php echo $header ?></h1>
<br>
<form method="post" action="" id="list">
    <input type="hidden" name="deleted" id="deleted_fld" value="">

    <?php
    require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";


    $dataSource = new \Kendo\Data\DataSource();
    $dataSource->data($content);


    $idColumn = new \Kendo\UI\GridColumn();
    $idColumn->title('ID')
        ->field('id')
        ->width(40);

    $headerColumn = new \Kendo\UI\GridColumn();
    $headerColumn->title('Название')
        ->field('name');


    $statColumn = new \Kendo\UI\GridColumn();
    $statColumn->title('Состояние')
        ->field('stat');

    $articleColumn = new \Kendo\UI\GridColumn();
    $articleColumn->title('Артикул')
        ->field('article')
        ->width(100);

    $keyColumn = new \Kendo\UI\GridColumn();
    $keyColumn->title('Категория')
        ->field('c_key')
        ->width(100);

    $dateColumn = new \Kendo\UI\GridColumn();
    $dateColumn->title('Дата добавления')
        ->field('date')
        ->width(135);

    $priceColumn = new \Kendo\UI\GridColumn();
    $priceColumn->title('Стоимость')
        ->field('price')
        ->width(100);


    $openItem = new \Kendo\UI\GridColumnCommandItem();
    $openItem->name('Редактировать')
        ->click('openClick');

    $deleteItem = new \Kendo\UI\GridColumnCommandItem();
    $deleteItem->name('Удалить')
        ->click('deleteClick');


    $command = new \Kendo\UI\GridColumn();
    $command->addCommandItem($openItem)
        ->addCommandItem($deleteItem)
        ->width(189)
        ->title('Действия');

    $pageable = new \Kendo\UI\GridPageable();
    $pageable->pageSize(20);
    $pageable->pageSizes(true);


    $grid = new \Kendo\UI\Grid('grid');
    $grid->addColumn($idColumn, $headerColumn, $statColumn,$articleColumn, $keyColumn, $priceColumn, $dateColumn, $command)
        ->dataSource($dataSource)
        ->navigatable(true)
        ->sortable(true)
        ->pageable($pageable)
        ->scrollable(false);

    echo $grid->render();

    ?>
</form>

<br>

<?php
$add = new \Kendo\UI\Button('add');
$add->tag('a')
    ->attr('href', '/admin/product_add/add')
    ->content('Добавить новый товар');

echo $add->render();
?>

<script>
    function openClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        var list = $("#head").text();
        var path = "http://shop-new/admin/product_edit/" + id;

        // WARNING!!!!!!! PATH

        location = path;
        document.location.href = path;
        location.replace(path);
        window.location.reload(path);
        document.location.replace(path);
    }

    function deleteClick(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        if (confirm('Вы уверены, что хотите удалить этот объект?')) {
            var frm = $("#list");
            frm.find("input[name=deleted]").val(id);
            frm.submit();
        }
    }
</script>
