<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>
<h1 id="head"><?php echo $header ?></h1>
<form action="" method="post" id="form">

    <div class="formField">
        <div class="padd">
            <h3>Название товара:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <input type="text" name="name" value="<?php echo $content['name'] ?>" placeholder="Длинна от 5 до 200"
                   maxlength="200">
        </div>
        <div class="padd">
            <h3>Лидеры продаж:</h3>
            <span>Включить товар в список ледиров продаж?</span><br>
        </div>
        <div class="value">
            <?php
            $data = array(
                array(
                    'name' => 'Да, включить',
                    'val' => 1
                ),
                array(
                    'name' => 'Нет, не включать',
                    'val' => 0
                ),
            );

            $cb = new \Kendo\UI\ComboBox('top');
            $cb->dataSource($data)
                ->dataTextField('name')
                ->value($content['top'])
                ->noDataTemplate('ничего не найдено')
                ->dataValueField('val')
                ->clearButton(false);
            echo $cb->render();
            ?>
        </div>

        <div class="padd">
            <h3>Цена:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <input type="text" name="price" value="<?php echo $content['price'] ?>" placeholder="Длинна от 5 до 100"
                   maxlength="100">
        </div>
        <div class="padd">
            <h3>Цена на акции:</h3>
            <span>Если товар продается без акции, поставьте 0 или пустую строку</span><br>
        </div>
        <div class="value">
            <input type="text" name="act" value="<?php echo $content['act'] ?>" placeholder="Длинна от 5 до 100"
                   maxlength="100">
        </div>
        <div class="padd">
            <h3>Производитель:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <?php

            $select = new \Kendo\UI\DropDownList('manufactorer');
            $select->dataSource($manufactorer)
                ->dataTextField('name')
                ->dataValueField('id')
                ->value($content['man_id']);
            echo $select->render();
            ?>
        </div>
        <div class="padd">
            <h3>Подробное описание товара:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <?
            $editor = new \Kendo\UI\Editor('editor');

            $editor->addTool(
                "bold", "italic", "underline", "strikethrough",
                "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                "insertUnorderedList", "insertOrderedList", "indent", "outdent",
                "createLink", "unlink", "insertImage", "insertFile",
                "subscript", "superscript",
                "createTable", "addRowAbove", "addRowBelow", "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn",
                "viewHtml",
                "formatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor"
            );


            $imageBrowser = new \Kendo\UI\EditorImageBrowser();

            $imageBrowser_transport = new \Kendo\UI\EditorImageBrowserTransport();
            $imageBrowser_transport->thumbnailUrl('/application/kendo/transport/ImageBrowser.php?action=thumbnail');
            $imageBrowser_transport->uploadUrl('/application/kendo/transport/ImageBrowser.php?action=upload');
            $imageBrowser_transport->imageUrl('/application/kendo/transport/ImageBrowser.php?action=image&path={0}');

            $imageBrowser_transport->read('/application/kendo/transport/ImageBrowser.php?action=read');
            $imageBrowser_destroy = new \Kendo\UI\EditorImageBrowserTransportDestroy();
            $imageBrowser_destroy
                ->url('/application/kendo/transport/ImageBrowser.php?action=destroy')
                ->type('POST');
            $imageBrowser_transport->destroy($imageBrowser_destroy);
            $imageBrowser_create = new \Kendo\UI\EditorImageBrowserTransportCreate();
            $imageBrowser_create
                ->url('/application/kendo/transport/ImageBrowser.php?action=create')
                ->type('POST');
            $imageBrowser_transport->create($imageBrowser_create);
            $imageBrowser->transport($imageBrowser_transport);

            $editor->imageBrowser($imageBrowser);


            $fileBrowser = new \Kendo\UI\EditorFileBrowser();

            $fileBrowser_transport = new \Kendo\UI\EditorFileBrowserTransport();
            $fileBrowser_transport->uploadUrl('/application/kendo/transport/FileBrowser.php?action=upload');
            $fileBrowser_transport->fileUrl('/application/kendo/transport/FileBrowser.php?action=file&path={0}');

            $fileBrowser_transport->read('/application/kendo/transport/FileBrowser.php?action=read');
            $fileBrowser_destroy = new \Kendo\UI\EditorFileBrowserTransportDestroy();
            $fileBrowser_destroy
                ->url('/application/kendo/transport/FileBrowser.php?action=destroy')
                ->type('POST');
            $fileBrowser_transport->destroy($fileBrowser_destroy);
            $fileBrowser_create = new \Kendo\UI\EditorFileBrowserTransportCreate();
            $fileBrowser_create
                ->url('/application/kendo/transport/FileBrowser.php?action=create')
                ->type('POST');
            $fileBrowser_transport->create($fileBrowser_create);
            $fileBrowser->transport($fileBrowser_transport);

            $editor->fileBrowser($fileBrowser);
            $editor->encoded(false);


            $editor
                ->attr('style', 'height:500px')
                ->content($content['text']);

            echo $editor->render();
            ?>
        </div>
        <div class="padd">
            <h3>Характеристики товара:</h3>
            <span>Таблица там и тд</span><br>
        </div>
        <div class="value">
            <?
            $editor = new \Kendo\UI\Editor('har');

            $editor->addTool(
                "bold", "italic", "underline", "strikethrough",
                "justifyLeft", "justifyCenter", "justifyRight", "justifyFull",
                "insertUnorderedList", "insertOrderedList", "indent", "outdent",
                "createLink", "unlink", "insertImage", "insertFile",
                "subscript", "superscript",
                "createTable", "addRowAbove", "addRowBelow", "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn",
                "viewHtml",
                "formatting",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor"
            );


            $imageBrowser = new \Kendo\UI\EditorImageBrowser();

            $imageBrowser_transport = new \Kendo\UI\EditorImageBrowserTransport();
            $imageBrowser_transport->thumbnailUrl('/application/kendo/transport/ImageBrowser.php?action=thumbnail');
            $imageBrowser_transport->uploadUrl('/application/kendo/transport/ImageBrowser.php?action=upload');
            $imageBrowser_transport->imageUrl('/application/kendo/transport/ImageBrowser.php?action=image&path={0}');

            $imageBrowser_transport->read('/application/kendo/transport/ImageBrowser.php?action=read');
            $imageBrowser_destroy = new \Kendo\UI\EditorImageBrowserTransportDestroy();
            $imageBrowser_destroy
                ->url('/application/kendo/transport/ImageBrowser.php?action=destroy')
                ->type('POST');
            $imageBrowser_transport->destroy($imageBrowser_destroy);
            $imageBrowser_create = new \Kendo\UI\EditorImageBrowserTransportCreate();
            $imageBrowser_create
                ->url('/application/kendo/transport/ImageBrowser.php?action=create')
                ->type('POST');
            $imageBrowser_transport->create($imageBrowser_create);
            $imageBrowser->transport($imageBrowser_transport);

            $editor->imageBrowser($imageBrowser);


            $fileBrowser = new \Kendo\UI\EditorFileBrowser();

            $fileBrowser_transport = new \Kendo\UI\EditorFileBrowserTransport();
            $fileBrowser_transport->uploadUrl('/application/kendo/transport/FileBrowser.php?action=upload');
            $fileBrowser_transport->fileUrl('/application/kendo/transport/FileBrowser.php?action=file&path={0}');

            $fileBrowser_transport->read('/application/kendo/transport/FileBrowser.php?action=read');
            $fileBrowser_destroy = new \Kendo\UI\EditorFileBrowserTransportDestroy();
            $fileBrowser_destroy
                ->url('/application/kendo/transport/FileBrowser.php?action=destroy')
                ->type('POST');
            $fileBrowser_transport->destroy($fileBrowser_destroy);
            $fileBrowser_create = new \Kendo\UI\EditorFileBrowserTransportCreate();
            $fileBrowser_create
                ->url('/application/kendo/transport/FileBrowser.php?action=create')
                ->type('POST');
            $fileBrowser_transport->create($fileBrowser_create);
            $fileBrowser->transport($fileBrowser_transport);

            $editor->fileBrowser($fileBrowser);
            $editor->encoded(false);


            $editor
                ->attr('style', 'height:500px')
                ->content($content['har']);

            echo $editor->render();
            ?>
        </div>
    </div>


    <div class="formField">

        <div class="padd">
            <h3>Маленькое изображение товара для списка:</h3>
            <span>Изображение, которое будет отображаться в списках товаров и на главной. Кидать в папку products/mini/</span><br>
        </div>
        <div class="value">
            <input type="text" name="img" value="<?php echo $content['img'] ?>" placeholder="Длинна от 5 до 100"
                   maxlength="100">
        </div>
        <div class="padd">
            <h3>Главные изображения товара:</h3>
            <span>Изображение, которое будет на странице выбранного товара и артикул для него. Кидать в папку products/main/</span><br>
        </div>

        <div class="mainMenu" style="margin: 20px 0 0 10px">
            <table style="width: 100%" id="imgTable">
                <tr>
                    <td>
                        <b>Ссылка на картинку</b>
                    </td>
                    <td>
                        <b>Артикул</b>
                    </td>
                    <td>
                        <b>Состояние</b>
                    </td>
                </tr>

                <?php

                foreach ($product_img as $key => $man) {
                    ?>
                    <tr>
                        <td>
                            <input type="hidden" value="<?php echo $man['id'] ?>" name="<?php echo "id_$key" ?>">

                            <input type="text" value="<?php echo $man['img'] ?>" name="<?php echo "img_$key" ?>">
                        </td>
                        <td>
                            <input type="text" value="<?php echo $man['article'] ?>" name="<?php echo "other_$key" ?>">
                        </td>
                        <td>
                            <?php
                            $data = array(
                                array('name' => 'В наличии'),
                                array('name' => 'Под заказ'),
                                array('name' => 'Ожидается доставка'),
                                array('name' => 'Нет в наличии'),
                            );

                            $str = "stat_$key";
                            $cb = new \Kendo\UI\ComboBox($str);
                            $cb->dataSource($data)
                                ->dataTextField('name')
                                ->value($man['stat'])
                                ->noDataTemplate('ничего не найдено')
                                ->dataValueField('name')
                                ->clearButton(false);
                            echo $cb->render();
                            ?>
                        </td>
                    </tr>
                    <?php
                } ?>
            </table>

            <input type="hidden" id="hiddenMaxId" value="<?php echo $man['id'] ?>">


            <div class="addImg" style="margin: 10px 0 20px 15px; text-decoration: underline; cursor: pointer">добавить еще изображение</div>

            <script>

                $(".addImg").click(function () {
                    var trCount = $("#imgTable tr").length;
                    var maxId = Number($("#hiddenMaxId").val());

                    var newTr = "<tr><td><input type='hidden' name='id_" + (maxId + trCount) + "' value='" + (maxId + trCount) + "'><input type='text' name='img_" + (maxId + trCount) + "'></td><td><input type='text' name='other_" + (maxId + trCount) + "'></td><td><input type='text' name='stat_" + (maxId + trCount) + "'></td></tr>";

                    $("#imgTable").append(newTr);
                });
            </script>
        </div>
    </div>


    <div class="formField">

        <div class="padd">
            <h3>Категория:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <?php
            $select = new \Kendo\UI\DropDownList('category');
            $select->dataSource($category)
                ->dataTextField('name')
                ->dataValueField('id')
                ->select("selectCategory")
                ->value($content['cat_id']);
            echo $select->render();
            ?>
        </div>

        <div class="padd">
            <h3>Настройка фильтров выбранной категории: (основное значение \ дополнительное)</h3>
        </div>
        <br>
        <?php

        $catFilter = array();

        foreach ($cat_filter_type as $value) {
            $catFilter[$value['id_category']][] = $value['id_filter_type'];
        }

        $filters = array();
        foreach ($filter_type as $value) {
            $filters[$value['id']] = array(
                'other' => $value['other'],
                'name' => $value['name'],
            );
        }


        $flag = ($oldFilters == null);
        foreach ($catFilter as $catFilter => $catFilterList) {

            if ((int)$content['cat_id'] === (int)$catFilter)
                echo "<div class='padd2' id='" . $catFilter . "' style='display: inline' >";
            else
                echo "<div class='padd2' id='" . $catFilter . "' style='display: none' >";

            foreach ($catFilterList as $filterId) {


                ?>
                <span><?php echo $filters[$filterId]['name'] ?>: </span>
                <div>
                <input value="<?php echo $catFilter . '_' . $filterId . '_' ?>" class="filterPrefix" type="hidden">

                <?php
                if ($oldFilters != null) {
                    foreach ($oldFilters as $value) {
                        if ((int)$value['id_filter_type'] === (int)$filterId) {
                            ?>
                            <div>
                                <input name="<?php echo $catFilter . '_' . $filterId . '_' . $value['id'] ?>"
                                       value="<?php echo $value['value'] ?>">
                                <input name="<?php echo $catFilter . '_' . $filterId . '_' . $value['id'] . '-dop' ?>"
                                       value="<?php echo $value['dop_value'] ?>">
                            </div>
                            <?
                        }
                    }

                    echo "<input value='" . $value['id'] . "' class='maxFilterId' type='hidden'>";

                    ?>
                    <div class="addFilter">добавить еще один фильтр</div>
                    </div>
                    <?php
                } else {
                    echo "<input value='1' class='maxFilterId' type='hidden'>";
                    echo "<div class='addFilter'>добавить еще один фильтр</div>
                    </div>";
                }
            }

            echo "</div>";
        }

        ?>
        <br>
    </div>


    <div class="formField">
        <div class="padd">
            <h3>Доп теги для поиска:</h3>
            <span>Тип товаров, их общая категория, например "Велосипеды". Название должно быть уникально.</span><br>
        </div>
        <div class="value">
            <textarea name="tags" style="width: 415px;"><? echo $content['tags'] ?></textarea>
        </div>
        <div class="value">
            <?php
            $btn = new \Kendo\UI\Button('Save');
            $btn->content('Сохранить');

            echo $btn->render();

            if ($content['date'] != null)
                echo '<i>Дата создания: ' . $content['date'] . '</i>';
            ?>
        </div>
    </div>


    <script>



        $(".addFilter").click(function () {
            var maxFilterId = $(this).siblings(".maxFilterId").val();
            var filterCount = $(this).siblings("div").length + Number(maxFilterId);
            var prefix = $(this).siblings(".filterPrefix").val();
            var newInput = "<div><input name='" + prefix + filterCount + "'><input name='" + prefix + filterCount + "-dop'></div>";

            $(this).parent().prepend(newInput);
        });

        function selectCategory(e) {
            var id = e.dataItem.id;

            $(".padd2").slideUp(200);
            $("#" + id).slideDown(200);


            //     console.log(id + " - " + name);

        }
    </script>
</form>
