<h1 id="head">Список мест для самовывоза</h1>

<form action="" method="post" class="mainMenu" style="margin-top: 20px">

    <table style="width: 100%">
        <tr>
            <td style="width: 50px">
                <b>№</b>
            </td>
            <td>
                <b>Место</b>
            </td>
            <td>
                <b>Время</b>
            </td>
            <td>
                <b>Прочее</b>
            </td>
        </tr>

        <?php

        foreach ($content as $key => $man) {
            ?>
            <tr>
                <td>
                    <?php echo $man['id']?>
                    <input type="hidden" value="<?php echo $man['id'] ?>" name="<?php echo "id_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['place'] ?>" name="<?php echo "place_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['time'] ?>" name="<?php echo "time_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['other'] ?>" name="<?php echo "other_$key" ?>">
                </td>
            </tr>
            <?php
        }?>
        <tr>

            <td>
                <?php
                echo ++$man['id'];
                $key++;
                ?>
                <input type="hidden" value="<?php echo ++$man['id'] ?>" name="<?php echo "id_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "place_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "time_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "other_$key" ?>">
            </td>
        </tr>
    </table>

    <br><br>

    <input type="submit" value="Сохранить">

</form>

<script>
    $("tr:odd").css("background", "#f5f5f5");
</script>