<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>
<h1 id="head">Настройки</h1>
<form action="" method="post">

    <div class="formField">
        <div class="padd">
            <h3>Количество объектов на страницу</h3>
            <span>Количество новостей или статей на одной странице</span><br>
        </div>
        <div class="value">
            <input type="text" name="news_count" value="<?php echo $content['news_count'] ?>" maxlength="2">
        </div>

        <div class="padd">
            <span>Количество товаров на одной странице</span><br>
        </div>
        <div class="value">
            <input type="text" name="products_count" value="<?php echo $content['products_count'] ?>" maxlength="2">
        </div>

    </div>


    <div class="formField">
        <div class="padd">
            <h3>Работа сайта</h3>
            <span>Вкл\выкл</span><br>
        </div>
        <div class="value">
            <?php

            $dataSource = new \Kendo\Data\DataSource();
            $dataSource->data(array(
                array('name' => 'Сайт ВКЛЮЧЕН и виден всем пользователям', 'value' => "1"),
                array('name' => 'Сайт ВЫКЛЮЧЕН, все кроме админпанели недоступно', 'value' => "0")
            ));

            $select = new \Kendo\UI\DropDownList('work');
            $select->dataSource($dataSource)
                ->dataTextField('name')
                ->dataValueField('value')
                ->value($content['work']);
            echo $select->render();


            ?>
        </div>
    </div>


    <div class="formField">
        <div class="padd">
            <h3>Сохранить изменения</h3>
            <span>Введите секретное слово</span><br>
        </div>
        <div class="value">
            <input type="text" name="secret" value="" maxlength="100">
        </div>

        <div class="padd">
            <span>Нажмите кнопку</span><br>
        </div>
        <div class="value">
            <input type="submit" value="Сохранить изменения">
        </div>
    </div>


</form>
