<h1 id="head">Список производителей</h1>

<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

$editor = new \Kendo\UI\Editor('editor');

$editor->addTool(
    "createLink", "unlink", "insertImage",
    "viewHtml"
);


$imageBrowser = new \Kendo\UI\EditorImageBrowser();

$imageBrowser_transport = new \Kendo\UI\EditorImageBrowserTransport();
$imageBrowser_transport->thumbnailUrl('/application/kendo/transport/ImageBrowser.php?action=thumbnail');
$imageBrowser_transport->uploadUrl('/application/kendo/transport/ImageBrowser.php?action=upload');
$imageBrowser_transport->imageUrl('/application/kendo/transport/ImageBrowser.php?action=image&path={0}');

$imageBrowser_transport->read('/application/kendo/transport/ImageBrowser.php?action=read');
$imageBrowser_destroy = new \Kendo\UI\EditorImageBrowserTransportDestroy();
$imageBrowser_destroy
    ->url('/application/kendo/transport/ImageBrowser.php?action=destroy')
    ->type('POST');
$imageBrowser_transport->destroy($imageBrowser_destroy);
$imageBrowser_create = new \Kendo\UI\EditorImageBrowserTransportCreate();
$imageBrowser_create
    ->url('/application/kendo/transport/ImageBrowser.php?action=create')
    ->type('POST');
$imageBrowser_transport->create($imageBrowser_create);
$imageBrowser->transport($imageBrowser_transport);

$editor->imageBrowser($imageBrowser);

$editor->encoded(false);

$var = "<p>Данная панель предназначена для загрузки картинок на сервер. С
помощью кнопки, расположенной выше, загрузите нужную вам картинку в
папку logos и скопируйте ее имя. После этого закройте форму загрузки
картинок и вставьте название картинки в поле '<strong>Ссылка на логотип производителя</strong>' ниже. </p>
<p>Если хотите удалить определенный слайд, просто удалите содержимое поля '<strong>Производитель</strong>' или '<strong>Ссылка на логотип производителя</strong>' и нажмите Сохранить, слайд удалится. </p>
<p>Для добавления нового, напишите нужные вам данные в последние два пустых поля и тоже нажмите кнопку Сохранить.</p>";

$editor
    ->content($var)
    ->attr('style', 'height:50px');

echo $editor->render();
?>


<form action="" method="post" class="mainMenu" style="margin-top: 20px">

    <table style="width: 100%">
        <tr>
            <td style="width: 50px">
                <b>№</b>
            </td>
            <td>
                <b>Заголовок</b>
            </td>
            <td>
                <b>Ссылка</b>
            </td>
            <td>
                <b>Текст к слайду</b>
            </td>
            <td>
                <b>Ссылка на картинку</b>
            </td>
        </tr>

        <?php

        foreach ($content as $key => $man) {
            ?>
            <tr>
                <td>
                    <?php echo $man['id']?>
                    <input type="hidden" value="<?php echo $man['id'] ?>" name="<?php echo "id_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['title'] ?>" name="<?php echo "title_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['path'] ?>" name="<?php echo "path_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['text'] ?>" name="<?php echo "text_$key" ?>">
                </td>
                <td>
                    <input type="text" value="<?php echo $man['img'] ?>" name="<?php echo "img_$key" ?>">
                </td>
            </tr>
            <?php
        }?>
        <tr>

            <td>
                <?php
                echo ++$man['id'];
                $key++;
                ?>
                <input type="hidden" value="<?php echo ++$man['id'] ?>" name="<?php echo "id_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "title_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "path_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "text_$key" ?>">
            </td>
            <td>
                <input type="text" value="" name="<?php echo "img_$key" ?>">
            </td>
        </tr>
    </table>

    <br><br>

    <input type="submit" value="Сохранить">

</form>

<script>
    $("tr:odd").css("background", "#f5f5f5");
</script>