<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link href="/content/css/web/kendo.common.min.css" rel="stylesheet"/>
    <link href="/content/css/web/kendo.rtl.min.css" rel="stylesheet"/>
    <link href="/content/css/web/kendo.default.min.css" rel="stylesheet"/>
    <link href="/content/css/web/kendo.default.mobile.min.css" rel="stylesheet"/>
    <link href="/content/css/dataviz/kendo.dataviz.min.css" rel="stylesheet"/>
    <link href="/content/css/dataviz/kendo.dataviz.default.min.css" rel="stylesheet"/>

    <script src="/content/js/jquery.min.js"></script>
    <script src="/content/js/kendo.all.min.js"></script>
    <script src="/content/js/kendo.timezones.min.js"></script>
    <script src="/content/shared/js/console.js"></script>
    <script src="/content/shared/js/prettify.js"></script>

    <link href="/content/css/admin.css" rel="stylesheet">

    <title><?php echo $title ?></title>
</head>

<body>

<header class="header">
    <div class="med1">
        <div class="logo">
            <h4>Админпанель</h4>
        </div>

        <ul class="topnav">
            <li><a href="/admin/">Главная</a></li>
            <li><img src="/resources/images/lin.png" alt="" align="left"/><a href="/admin/orders">Заказы</a></li>
            <li><img src="/resources/images/lin.png" alt="" align="left"/><a href="/admin/list/news">Списки</a></li>
            <li><img src="/resources/images/lin.png" alt="" align="left"/><a href="/admin/product_list">Товары</a></li>
            <li><img src="/resources/images/lin.png" alt="" align="left"/><a href="/admin/category">Категории</a></li>
            <li><img src="/resources/images/lin.png" alt="" align="left"/><a href="/admin/setting">Настройки</a></li>
        </ul>
    </div>
</header>


<div class="wrapper">


    <div class="middle">

        <div class="container">
            <main class="content">
                <?php include 'application/templates/' . $content_view; ?>
            </main>
            <!-- .content -->
        </div>
        <!-- .container-->
    </div>
    <!-- .middle-->

</div>
<!-- .wrapper -->

<footer class="footer">
    <div class="foot">
        <a href="/admin/list/news">Список новостей</a>
        <a href="/admin/list/articles">Список статей</a>
        <a href="/admin/list/site_content">Список содержимого страниц</a>
        <a href="/admin/category">Категории</a>
        <a href="/admin/product_list">Список всех товаров</a>
        <a href="/admin/list/site_content">Список содержимого страниц</a>
        <a href="/admin/category">Категории</a>
        <a href="/admin/product_list">Список всех товаров</a>
    </div>
</footer>


</body>
</html>