<div style="padding: 10px">
    <div class="pathPage">
        <a href="/">Главная</a> » <a href="/list/<?php echo $href ?>"><?php echo $page ?></a>
    </div>
    <h1 id="head"><?php echo $page ?></h1>
</div>


<?php
foreach ($content as $news) { ?>

    <div class="list-item">
        <div style="padding: 17px 0 30px 0;">
            <header>
                <a href="/list/select/<? echo $href . '/' . $news['id'] ?>"><?php echo $news['name'] ?></a>
            </header>
            <article>
                <?php echo $news['text'] ?>
            </article>
            <footer>
                <div class="btns">
                    <table>
                        <tr>
                            <td style="width: 120px">
                                <a href="/list/select/<? echo $href . '/' . $news['id'] ?>">Подробнее</a>
                            </td>
                            <td>
                                <?php echo $news['date'] ?>
                            </td>
                        </tr>
                    </table>
                </div>
            </footer>
        </div>
    </div>
<? } ?>

<div class="pageables">
    <?php
    echo "<a href='{$pages['page']}1/{$path}'>«</a>";


    $count = (int)($pages['count'] / $pages['size']) + (($pages['count'] % $pages['size']) === 0 ? 0 : 1);

    for ($i = 1; $i <= $count; $i++) {
        if ($i == $pages['select'])
            echo "<a href='{$pages['page']}{$i}/{$path}' class='pageables_selected'>{$i}</a>";
        elseif (($i == $pages['select'] - 1) or ($i == $pages['select'] + 1))
            echo "<a href='{$pages['page']}{$i}/{$path}'>{$i}</a>";
    }

    echo "<a href='{$pages['page']}{$count}/{$path}'>»</a>";

    ?>

</div>

<script>
    $(".list-item:even()").css("background", "#f5f5f5");
</script>
