<div style="padding: 10px 10px 0 10px">
    <div class="pathPage">
        <a href="/">Главная</a> » <a href="/list/<?php echo $href ?>"><?php echo $page ?></a> »
        <a href="/list/select/<? echo $href . '/' . $content['id'] ?>"><?php echo $content['name'] ?></a>
    </div>
</div>
<div class="list-item">

        <h1 id="head"><?php echo $content['name'] ?></h1>

    <article>
        <?php echo $content['text'] ?>
    </article>
    <footer>
        <?php echo $content['date'] ?>
    </footer>
</div>
