<div class="men_middle">
    <div class="men_container">
        <main class="men_content">
            <div class='sliderA'>
                <?php echo $slider;?>
            </div>
        </main><!-- .content -->
    </div><!-- .container-->
    <aside class="men_left-sidebar">

        <aside class="left-sidebar">
            <form method="post" action="/search" class="left-search">
                <input type="text" name="value" placeholder="Поиск">
            </form>
            <div style="margin-left: 10px; z-index: 1000">
                <?php
                echo $menu;
                ?>
            </div>
        </aside>

    </aside><!-- .left-sidebar -->

</div><!-- .middle-->


<div id="maind">
    <!--

.k-menu .k-link.k-state-active
-->

    <div class="mainArticles" style="background: #f5f5f5;">
        <div class="articleHeader">
            <a href="/products/act" title="Нажмите если хотите увидеть больше!"><img src="/resources/images/aktsii_1.png"></a>
        </div>
        <div class="blocks">
            <?php echo $act ?>
        </div>
    </div>

    <div class="mainArticles" style="background: #fff">
        <div class="articleHeader">
            <a href="/products/top" title="Нажмите если хотите увидеть больше!"><img src="/resources/images/lidery_prodazh_1.png"></a>
        </div>
        <div class="blocks">
            <?php echo $top_products ?>
        </div>
    </div>

    <div class="mainArticles" style="background: #f5f5f5">
        <div class="articleHeader">
            <a href="/list/news" title="Нажмите если хотите увидеть больше!"><img src="/resources/images/novosti_1.png"></a>
        </div>
        <div class="blocks">
            <?php echo $news ?>
        </div>
    </div>

    <div class="mainArticles" style="background: #fff">
        <div class="articleHeader">
            <a href="/list/articles" title="Нажмите если хотите увидеть больше!"><img src="/resources/images/stati_1.png"></a>
        </div>
        <div class="blocks">
            <?php echo $articles ?>
        </div>
    </div>
</div>


<script>
    $(document).ready(
        function () {
            width = $(window).width();
            if (width < 1430) {
                $(".3").css('display', 'none');
            }
            if (width > 1430) {
                $(".3").css('display', 'inline');
            }
            if (width < 1070) {
                $(".2").css('display', 'none');
            }
            if (width > 1070) {
                $(".2").css('display', 'inline');
            }

            menuHeight = $(".men_left-sidebar").height();
            $(".sliderA").css("height", menuHeight);
            $("#maind").css("padding-top", menuHeight);


        }
    );


    $(window).resize(function () {
        width = $(window).width();
        if (width < 1430) {
            $(".3").css('display', 'none');
        }
        if (width > 1430) {
            $(".3").css('display', 'inline');
        }
        if (width < 1070) {
            $(".2").css('display', 'none');
        }
        if (width > 1070) {
            $(".2").css('display', 'inline');
        }

    });
</script>

<script>
    <!--[if IE]>
    $(document).ready(
        function () {
            menuHeight = $(".men_left-sidebar").height();
            $(".sliderA").css("height", menuHeight);
            $("#maind").css("padding-top", 0);
        });
    <![endif]-->
</script>