<div class="pathPage" style="padding-top: 10px">
    <a href="/">Главная</a> » Магазин » <?php echo $name ?>
</div>


<div class="sortHeader">
    <table>
        <tr>
            <td>
                <h1 id="head"><?php echo $name ?></h1>
            </td>
            <td class="td_r">

            </td>
        </tr>
    </table>
</div>


<div class="container" style="text-align: center">
        <div class="blocks">
        <?php

        if ($content != null) {
            foreach ($content as $product) {
                ?>

                <a href='/products/list/<?php echo $product['c_key'] ?>' class="menu_cat">
                    <div class='ablock'>
                        <img src='/resources/imagebrowser/category/<?php echo $product['img'] ?>'>
                        <br>
                        <?php echo $product['name'] ?>
                    </div>
                </a>
            <?php }
        }
        ?>
    </div>
</div>
<!-- .container-->
