<div class="men_middle">
    <div class="men_container">
        <main class="men_content">
            <div class='sliderA'>
                <?php echo $slider; ?>
            </div>
        </main>
        <!-- .content -->
    </div>
    <!-- .container-->
    <aside class="men_left-sidebar">
        <aside class="left-sidebar">
            <form method="post" action="/search" class="left-search">
                <input type="text" name="value" placeholder="Поиск">
            </form>
            <div style="margin-left: 10px">
                <?php
                echo $menu;
                ?>
            </div>
        </aside>
    </aside>
    <!-- .left-sidebar -->
</div><!-- .middle-->

<div style="padding: 5px 10px 0 0">
    &nbsp;
</div>
<div class="list-item">

    <h1 id="head"><?php echo $page ?></h1>

    <article>
        <?php
        echo $content['text'];
        if ($page === 'Контакты') { ?>
            <br><br>
            <a class="dg-widget-link"
               href="http://2gis.ru/moscow/firm/4504127913998035/center/37.5794005393982,55.70010606004817/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть
                на карте Москвы</a>
            <div class="dg-widget-link"><a
                        href="http://2gis.ru/moscow/firm/4504127913998035/photos/4504127913998035/center/37.5794005393982,55.70010606004817/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии
                    компании</a></div>
            <div class="dg-widget-link"><a
                        href="http://2gis.ru/moscow/center/37.57939,55.699877/zoom/16/routeTab/rsType/bus/to/37.57939,55.699877╎Сбербанк, ПАО?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти
                    проезд до Сбербанк, ПАО</a></div>
            <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
            <script charset="utf-8">new DGWidgetLoader({
                    "width": "100%",
                    "height": 600,
                    "borderColor": "#a3a3a3",
                    "pos": {"lat": 55.70010606004817, "lon": 37.5794005393982, "zoom": 16},
                    "opt": {"city": "moscow"},
                    "org": [{"id": "4504127913998035"}]
                });</script>
            <noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите
                его в настройках вашего браузера.
            </noscript>
        <? } ?>
    </article>
</div>


<script>
    $(document).ready(
        function () {
            menuHeight = $(".men_left-sidebar").height();
            $(".sliderA").css("height", menuHeight);
            $(".site-content").css("padding-top", menuHeight);

        }
    );
</script>