<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="/content/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">

    <title><?php echo $title ?></title>
</head>

<body>

<header class="header">
    <div class="med1">
        <div class="h_container">
            <main class="h_content">
                <a href="/">
                    <img src="/resources/images/logo.jpg">
                </a>
            </main>
        </div>
    </div>
</header>


<div class="wrapper">
    <div class="middle">
        <?php include 'application/templates/' . $content_view; ?>
    </div>
</div>

<footer class="footer">

    <div class="foot">
        <div class="footInfo">
            <table>
                <tr>
                    <td>
                        <table class="tbl2">
                            <tr>
                                <td style="width: 130px">Мы в соц сетях:</td>
                                <td>
                                    <a href="https://vk.com/shopvelokosmos"><img src="/resources/images/vk.png"></a>
                                    <a href="https://www.instagram.com/velokosmos/"><img src="/resources/images/fb.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: right">

                        Телефон: +7 (921) 551-56-85
                    </td>
                </tr>

            </table>
        </div>

        <div class="footFoot">
            © 2017 Велокосмос. Все права защищены.
        </div>
    </div>
</footer>
<!-- .footer -->
</body>
</html>