<div class="pathPage" style="padding-top: 10px">
    <a href="/">Главная</a> » <a
        href="/products/<?php echo $topPath?>"><?php echo $topName;?></a>
</div>

<h1 id="head"><?php echo $topName?></h1>

<div class="container">
    <?php
    if ($content != null) {
        foreach ($content as $product) {
            ?>
            <div class="list-item">
                <article>
                    <table>
                        <tr>
                            <td style="width: 250px">
                                <img src="/resources/imagebrowser/products/mini/<?php echo $product['img'] ?>">
                            </td>
                            <td>
                                <header>
                                    <a href="/products/select/<?php echo $product['id'] ?>"><?php echo $product['name'] ?></a>
                                </header>
                                <br>
                                <div class="span">
                                    <?php echo ($product['act'] != 0) ? "<del>{$product['price']}</del> {$product['act']}" : $product['price'] ?>
                                    руб.
                                </div>
                                <div class="dop">
                                    <?php
                                    echo ($product['article'] != '') ? "<span>Артикул:</span> {$product['article']}, " : "";
                                    echo ($product['man_id'] != '') ? "<span>Производитель:</span> " . $manufactorer[$product['man_id']]['name'] : "";

                                    foreach ($filter_type as $filterType) {
                                        $filterTypeValues = $pr_filters[$product['id']][$filterType['id']];

                                        if ($filterTypeValues != null) {
                                            echo '<br><span>' . $filterType['name'] . ': </span>';

                                            foreach ($filterTypeValues as $value) {
                                                echo $value['value'] . '; ';
                                            }
                                        }
                                    }
                                    ?>
                                    <br>
                                    <?php
                                    if ($product['stat'] === "В наличии")
                                        echo "<b style='color: green'>&#9733; {$product['stat']}</b>";
                                    elseif ($product['stat'] === "Под заказ")
                                        echo "<b style='color: #ffc21d'>&#9998; {$product['stat']}</b>";
                                    elseif ($product['stat'] === "Ожидается доставка")
                                        echo "<b style='color: #ffc21d'>&#9200; {$product['stat']}</b>";
                                    else {
                                        echo "<b style='color: red'>&#8855; {$product['stat']}</b>";
                                    }
                                    ?>
                                </div>
                                <footer>
                                    <div class="btns">
                                        <a href="/products/select/<?php echo $product['id'] ?>">Подробнее</a>
                                    </div>
                                </footer>
                            </td>
                        </tr>
                    </table>
                </article>
            </div>

        <?php }
    } else { ?>

        <div class="noMessages">
            <h1>К сожалению, ничего не было найдено</h1>
            Попробуйте задать другие критерии поиска
        </div>
        <?
    }
    ?>
    <div class="pageables">
        <?php

        if ($pages != null and $content != null) {

            echo "<a href='{$pages['page']}1/{$path}'>«</a>";


            $count = (int)($pages['count'] / $pages['size']) + (($pages['count'] % $pages['size']) === 0 ? 0 : 1);

            for ($i = 1; $i <= $count; $i++) {
                if ($i == $pages['select'])
                    echo "<a href='{$pages['page']}{$i}/{$path}' class='pageables_selected'>{$i}</a>";
                elseif (($i == $pages['select'] - 1) or ($i == $pages['select'] + 1))
                    echo "<a href='{$pages['page']}{$i}/{$path}'>{$i}</a>";
            }


            echo "<a href='{$pages['page']}{$count}/{$path}'>»</a>";
        }
        ?>
    </div>
</div>
<!-- .container-->

<script>
    $(".list-item:even()").css("background", "#f5f5f5");
</script>
