<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";
?>
<script src="/content/js/jquery-ui.js"></script>

<div class="pathPage" style="padding-top: 10px">
    <a href="/">Главная</a> » <a
        href="/products/list/<?php echo $category['c_key']; ?>"><?php echo $category['name'] ?></a>
</div>

<form action="" method="post">
    <div class="sortHeader">
        <table>
            <tr>
                <td>
                    <h1 id="head"><?php echo $category['name'] ?></h1>
                </td>
                <td class="td_r">
                    <table>
                        <tr>
                            <td><b>Отображение:</b></td>
                            <td style="width: 200px;">
                                <?php

                                $cb = new \Kendo\UI\DropDownList('sort');
                                $cb->dataSource(array(
                                    array('name' => 'Сначала старые', 'val' => '1'),
                                    array('name' => 'Сначала новые', 'val' => '2'),
                                    array('name' => 'Сначала аукционные', 'val' => '3'),
                                    array('name' => 'Сначала дешевые', 'val' => '4'),
                                    array('name' => 'Сначала дорогие', 'val' => '5'),
                                ))
                                    ->value($post['sort'])
                                    ->dataTextField('name')
                                    ->change("onSelected")
                                    ->dataValueField('val');
                                echo $cb->render();
                                ?>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


    <div class="container">
        <main class="content">

            <?php

            if ($content != null) {
                foreach ($content as $product) {
                    ?>
                    <div class="list-item">
                        <article>
                            <table>
                                <tr>
                                    <td style="width: 250px">
                                        <a href="/products/select/<?php echo $product['id'] ?>"><img
                                                src="/resources/imagebrowser/products/mini/<?php echo $product['img'] ?>"></a>
                                    </td>
                                    <td>

                                        <header>
                                            <a href="/products/select/<?php echo $product['id'] ?>"><?php echo $product['name'] ?></a>
                                        </header>
                                        <br>

                                        <div class="span">
                                            <?php echo ($product['act'] != 0) ? "<del>{$product['price']}</del> {$product['act']}" : $product['price'] ?>
                                            руб.
                                        </div>
                                        <div class="dop">
                                            <?php
                                            echo ($product['man_id'] != '') ? "<span>Производитель:</span> " . $manufactorer[$product['man_id']]['name'] : "";

                                            foreach ($filter_type as $filterType) {
                                                $filterTypeValues = $pr_filters[$product['id']][$filterType['id']];

                                                if ($filterTypeValues != null) {
                                                    echo '<br><span>' . $filterType['name'] . ': </span>';

                                                    foreach ($filterTypeValues as $value) {
                                                        echo $value['value'] . '; ';
                                                    }
                                                }
                                            }
                                            ?>
                                            <br><br>
                                        </div>
                                        <footer>
                                            <div class="btns">
                                                <a href="/products/select/<?php echo $product['id'] ?>">Подробнее</a>
                                            </div>
                                        </footer>
                                    </td>
                                </tr>
                            </table>
                        </article>
                    </div>
                <?php }
            } else { ?>
                <div class="noMessages">
                    <h1>К сожалению, ничего не было найдено</h1>
                    Попробуйте задать другие критерии поиска
                </div>
                <?
            }
            ?>
            <div class="pageables">
                <?php

                if ($pages != null and $content != null) {

                    echo "<a href='{$pages['page']}1/{$pages['params']}'>«</a>";

                    $count = (int)($pages['count'] / $pages['size']) + (($pages['count'] % $pages['size']) === 0 ? 0 : 1);

                    for ($i = 1; $i <= $count; $i++) {
                        if ($i == $pages['select'])
                            echo "<a href='{$pages['page']}{$i}/{$pages['params']}' class='pageables_selected'>{$i}</a>";
                        elseif (($i == $pages['select'] - 1) or ($i == $pages['select'] + 1))
                            echo "<a href='{$pages['page']}{$i}/{$pages['params']}'>{$i}</a>";
                    }

                    echo "<a href='{$pages['page']}{$count}/{$pages['params']}'>»</a>";
                }
                ?>
            </div>
        </main>
        <!-- .content -->
    </div>
    <!-- .container-->

    <aside class="left-sidebar2">
        <div class="cont">
            <div class="price">
                <header>Диапазон цен:</header>
                <table>
                    <tr>
                        <td>
                            <?php
                            echo "<input value='{$post['minPrice']}' type='text' name='minPrice' placeholder='От {$prices['min']['MIN(price)']}'>";
                            ?>
                        </td>
                        <td>
                            <?php
                            echo "<input value='{$post['maxPrice']}' type='text' name='maxPrice' placeholder='До {$prices['max']['MAX(price)']}'>";
                            ?>
                        </td>
                    </tr>
                </table>

                <?php
                if (!($prices['min']['MIN(price)'] === $prices['max']['MAX(price)']))
                    echo "<div id='slider-range'></div>";
                ?>

            </div>
            <div class="kendo_w" style="margin-top: 40px">

                <?php

                $man = array();
                foreach ($manufactorer as $item) {
                    $man[] = $item;

                }

                echo "<header>Производитель:</header> ";

                $cb = new \Kendo\UI\ComboBox('man_id');
                $cb->dataSource($man)
                    ->dataTextField('name')
                    ->value($post['man_id'])
                    ->dataValueField('id')
                    ->noDataTemplate('ничего не найдено')
                    ->clearButton(false);
                echo $cb->render();
                echo "<br><br>";


                foreach ($data['cat_filter_type'] as $cat_filter_type) {

                    $temp = array();
                    $value = 0;
                    foreach ($data['filter_type'] as $key => $value) {
                        if ((int)$value['id'] === (int)$cat_filter_type['id_filter_type']) {
                            $temp = $value;
                            unset($data['filter_type'][$key]);
                            break;
                        }
                    }

                    echo "<header>" . $temp['name'] . ":</header> ";

                    $cb = new \Kendo\UI\ComboBox($value['id']);
                    $cb->dataSource($data['cat_filters'][$value['id']])
                        ->dataTextField('value')
                        ->value($post[$value['id']])
                        ->dataValueField('value')
                        ->noDataTemplate('ничего не найдено')
                        ->clearButton(false);
                    echo $cb->render();
                    echo "<br><br>";
                }

                echo "<br><br><br>";

                $btn = new \Kendo\UI\Button('btn');
                $btn->content('Искать');
                echo $btn->render();
                ?>
            </div>
        </div>
    </aside>
    <!-- .left-sidebar -->

</form>

<script>

    $(function () {
        $("#slider-range").slider({
            range: true,
            min: <?php echo (int)$prices['min']['MIN(price)']?>,
            max: <?php echo (int)$prices['max']['MAX(price)']?>,
            values: [<?php echo ($post['minPrice'] != null ? (int)$post['minPrice'] : (int)$prices['min']['MIN(price)'])?>, <?php echo ($post['maxPrice'] != null ? $post['maxPrice'] : $prices['max']['MAX(price)'])?>],
            slide: function (event, ui) {
                $("input[name=minPrice]").val(ui.values[0]);
                $("input[name=maxPrice]").val(ui.values[1]);
            }
        });
    });


    function onSelected(e) {
        $("form").submit();
    }


    $(document).ready(
        function () {
            width = $(window).width();
            if (width < 800) {
                $('.left-sidebar2').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
                $('.content').css({"padding-left": "0"});
                $('.price').css({"margin-right": "50px"});
            } else {
                $('.left-sidebar2').css({"margin-left": "-100%", "width": "330px", "padding-bottom": "0"});
                $('.content').css({"padding-left": "340px"});
                $('.price').css({"margin-right": "0"});
            }
        }
    );

    $(window).resize(function () {
        width = $(window).width();
        if (width < 800) {
            $('.left-sidebar2').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
            $('.content').css({"padding-left": "0"});
            $('.price').css({"margin-right": "50px"});
        } else {
            $('.left-sidebar2').css({"margin-left": "-100%", "width": "330px", "padding-bottom": "0"});
            $('.content').css({"padding-left": "340px"});
            $('.price').css({"margin-right": "0"});
        }
    });


    $(".list-item:even()").css("background", "#f5f5f5");
</script>

<script>
    <!--[if IE]>

    $(".list-item").css({"border-left": "345px solid white"});
    $(".noMessages").css({"border-left": "345px solid white"});

    $(".left-sidebar2").css({"border-top": "18px solid white"});

    $(window).resize(function () {
        width = $(window).width();
        if (width < 800) {
            $(".list-item").css({"border-left": "0"});
            $(".noMessages").css({"border-left": "0"});
        } else {
            $(".list-item").css({"border-left": "345px solid white"});
            $(".noMessages").css({"border-left": "345px solid white"});
        }
    });

    <![endif]-->
</script>
