<div class="pathPage" style="padding-top: 10px">
    <a href="/">Главная</a> » Производители » <?php echo $manufactorer[0]['name'] ?><a
            href="/products/list/<?php echo $category['c_key']; ?>"><?php echo $category['name'] ?></a>
</div>


<div class="sortHeader">
    <table>
        <tr>
            <td>
                <h1 id="head"><?php echo $manufactorer[0]['name'] ?></h1>
            </td>
            <td class="td_r">

            </td>
        </tr>
    </table>
</div>


<div class="container">
    <main class="content">

        <?php

        if ($content != null) {
            foreach ($content as $product) {
                ?>
                <div class="list-item">
                    <article>
                        <table>
                            <tr>
                                <td style="width: 250px">
                                    <a href="/products/select/<?php echo $product['id'] ?>"><img
                                                src="/resources/imagebrowser/products/mini/<?php echo $product['img'] ?>"></a>
                                </td>
                                <td>

                                    <header>
                                        <a href="/products/select/<?php echo $product['id'] ?>"><?php echo $product['name'] ?></a>
                                    </header>
                                    <br>

                                    <div class="span">
                                        <?php echo ($product['act'] != 0) ? "<del>{$product['price']}</del> {$product['act']}" : $product['price'] ?>
                                        руб.
                                    </div>
                                    <div class="dop">
                                        <?php
                                        echo ($product['article'] != '') ? "<span>Артикул:</span> {$product['article']}, " : "";
                                        echo ($product['man_id'] != '') ? "<span>Производитель:</span> " . $manufactorer[$product['man_id']]['name'] : "";

                                        foreach ($filter_type as $filterType) {
                                            $filterTypeValues = $pr_filters[$product['id']][$filterType['id']];

                                            if ($filterTypeValues != null) {
                                                echo '<br><span>' . $filterType['name'] . ': </span>';

                                                foreach ($filterTypeValues as $value) {
                                                    echo $value['value'] . '; ';
                                                }
                                            }
                                        }
                                        ?>

                                        <br>
                                        <br>

                                    </div>
                                    <footer>
                                        <div class="btns">
                                            <a href="/products/select/<?php echo $product['id'] ?>">Подробнее</a>
                                        </div>
                                    </footer>
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>
            <?php }
        } else { ?>
            <div class="noMessages">
                <h1>К сожалению, ничего не было найдено</h1>
            </div>
            <?
        }
        ?>
        <div class="pageables">
            <?php

            if ($pages != null and $content != null) {

                echo "<a href='{$pages['page']}1/{$pages['params']}'>«</a>";

                $count = (int)($pages['count'] / $pages['size']) + (($pages['count'] % $pages['size']) === 0 ? 0 : 1);

                for ($i = 1; $i <= $count; $i++) {
                    if ($i == $pages['select'])
                        echo "<a href='{$pages['page']}{$i}/{$pages['params']}' class='pageables_selected'>{$i}</a>";
                    elseif (($i == $pages['select'] - 1) or ($i == $pages['select'] + 1))
                        echo "<a href='{$pages['page']}{$i}/{$pages['params']}'>{$i}</a>";
                }

                echo "<a href='{$pages['page']}{$count}/{$pages['params']}'>»</a>";

                }
            ?>
        </div>
    </main>
    <!-- .content -->
</div>
<!-- .container-->

<aside class="left-sidebar2">
    <div class="cont">
        <div class="price">
            <header>Категории:</header>
            <?php

            $manCategory = array();
            foreach ($man_category as $val)
                $manCategory[] = $val['cat_id'];

            foreach ($category as $cat) {
                if (in_array($cat['id'], $manCategory)) {
                    echo "<a href='/products/list/{$cat['c_key']}/1/man_id={$manufactorer[0]['id']}'>{$cat['name']}</a><br>";
                }
            }

            ?>
        </div>

    </div>
</aside>
<!-- .left-sidebar -->

<script>

    $(document).ready(
        function () {
            width = $(window).width();
            if (width < 800) {
                $('.left-sidebar2').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
                $('.content').css({"padding-left": "0"});
                $('.price').css({"margin-right": "50px"});
            } else {
                $('.left-sidebar2').css({"margin-left": "-100%", "width": "330px", "padding-bottom": "0"});
                $('.content').css({"padding-left": "340px"});
                $('.price').css({"margin-right": "0"});
            }
        }
    );

    $(window).resize(function () {
        width = $(window).width();
        if (width < 800) {
            $('.left-sidebar2').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
            $('.content').css({"padding-left": "0"});
            $('.price').css({"margin-right": "50px"});
        } else {
            $('.left-sidebar2').css({"margin-left": "-100%", "width": "330px", "padding-bottom": "0"});
            $('.content').css({"padding-left": "340px"});
            $('.price').css({"margin-right": "0"});
        }
    });


    $(".list-item:even()").css("background", "#f5f5f5");
</script>

<script>
    <!--[if IE]>

    $(".list-item").css({"border-left": "345px solid white"});
    $(".noMessages").css({"border-left": "345px solid white"});

    $(".left-sidebar2").css({"border-top": "18px solid white"});

    $(window).resize(function () {
        width = $(window).width();
        if (width < 800) {
            $(".list-item").css({"border-left": "0"});
            $(".noMessages").css({"border-left": "0"});
        } else {
            $(".list-item").css({"border-left": "345px solid white"});
            $(".noMessages").css({"border-left": "345px solid white"});
        }
    });

    <![endif]-->
</script>
