<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

if (!$flag) {
    ?>
    <h1 id="head">Оформление заказа</h1>
    <div class="shoping_cart">

        <table width="100%">

            <?php
            if ($content != null) {


                ?>
                <table width="100%">
                    <tr class="table-header">
                        <td>Название</td>
                        <td style="width: 100px">Артикул</td>
                        <td style="width: 150px">Стоимость товара</td>
                        <td style="width: 120px">Количество</td>
                        <td style="width: 130px">Всего</td>
                    </tr>


                    <?


                    foreach ($content as $key => $product) {
                        if (is_array($product)) {
                            ?>
                            <tr>
                                <td>
                                    <a href="/products/select/<?php echo $product['id'] ?>"><?php echo $product['name'] ?></a>
                                </td>
                                <td><?php echo $product['article'] ?></td>
                                <td class="price"> <?php echo ($product['act'] != 0) ? "<del>{$product['price']}</del> {$product['act']}" : $product['price'] ?>,00 руб</td>
                                <td><?php echo $product['count'] ?></td>
                                <td class="totalprice"><?php echo $product['totalprice'] ?>,00 руб</td>
                            </tr>
                            <?
                        }
                    } ?>
                    <tr class="table-header">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><?php echo $content['total'] ?>,00 руб</td>
                    </tr>
                </table>

                <form action="" method="post" id="form">
                    <div class="formField">
                        <div class="padd">
                            <h3>ФИО<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="text" name="fio" placeholder="Длинна от 4 до 100" minlength="4"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Контактный телефон<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="tel" name="phone" placeholder="Длинна от 6 до 100" minlength="6"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Email<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="email" name="email" placeholder="Длинна от 6 до 100" minlength="6"
                                   maxlength="100">
                        </div>
                    </div>

                    <div class="formField">
                        <div class="padd">
                            <h3>Получение товаров<span>*</span></h3>
                            <table>
                                <tr>
                                    <td>
                                        <div class="btn" id="dost" style="background: #19084c">
                                            Доставка на дом
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn" id="sam">
                                            Самовывоз
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <input type="hidden" name="type" value="Доставка на дом">
                    </div>

                    <div class="formField" id="dostForm">
                        <div class="padd">
                            <h3>Индекс<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="text" name="index" placeholder="Длинна от 5 до 100" minlength="5"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Край \ область<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="text" name="obl" placeholder="Длинна от 5 до 100" minlength="5"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Город \ населенный пункт<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="text" name="town" placeholder="Длинна от 5 до 100" minlength="5"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Полный адрес (Улица, дом, корпус, строение, квартира)<span>*</span></h3>
                        </div>
                        <div class="value">
                            <input type="text" name="adress" placeholder="Длинна от 5 до 100" minlength="5"
                                   maxlength="100">
                        </div>

                        <div class="padd">
                            <h3>Выберете место доставки<span>*</span></h3>
                        </div>
                        <div class="value">
                            <div class="downList">
                                <?php

                                $dataSource = array();

                                foreach ($obl as $value) {
                                    $dataSource[] = array(
                                        'id' => $value['id'],
                                        'name' => "{$value['name']} - {$value['price']}руб.",
                                    );
                                }

                                $cb = new \Kendo\UI\DropDownList('obl2');
                                $cb->dataSource($dataSource)
                                    ->dataTextField('name')
                                    ->change("onSelected")
                                    ->dataValueField('name');
                                echo $cb->render();
                                ?>
                            </div>
                        </div>
                    </div>

                    <div class="formField" id="samForm" style="display: none">

                        <div class="padd">
                            <h3>Выберете место доставки<span>*</span></h3>
                        </div>
                        <div class="value">
                            <div class="downList">
                                <?php

                                $dataSource = array();

                                foreach ($sam as $value) {
                                    $dataSource[] = array(
                                        'id' => $value['id'],
                                        'name' => "{$value['place']} - {$value['time']}",

                                    );
                                }

                                $cb = new \Kendo\UI\DropDownList('obl3');
                                $cb->dataSource($dataSource)
                                    ->dataTextField('name')
                                    ->value(1)
                                    ->change("onSelected")
                                    ->dataValueField('price');
                                echo $cb->render();
                                ?>
                            </div>
                        </div>

                        <div class="padd">
                            <h3>Адрес магазина</h3>
                        </div>
                        <div class="value">
                            Забрать заказ вы можете по адресу: авававав<br>
                            Посмотреть и узнать подробнее о магазине можно в разделе <a href="/main/page/contact">Контакты</a>
                            <br><br>
                            <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31611.00871827599!2d27.53396802951638!3d53.92281987153692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4237da460429540!2z0JzQuNC90YHQui3QkNGA0LXQvdCw!5e0!3m2!1sru!2sby!4v1491995988451"
                                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="formField">
                        <div class="padd">
                            <h3>Комментарии к заказу</h3>
                        </div>
                        <div class="value">
                            <textarea maxlength="2000" name="comments"></textarea>
                        </div>

                        <div style="margin: 20px" class="g-recaptcha"
                             data-sitekey="6LfUFioUAAAAAIixjiUkIqwKzNIIvI4VaRaDKNcB"></div>
                        <br>
                    </div>

                    <div class="noMessages2">
                        <h1 id="temp">Итого: <?php echo $content['total'] + (int)$obl[0]['price'] ?> рублей</h1>
                    </div>

                    <div class="btns" style="margin: 20px;">
                        <div class="submitTD">
                            <div class="btns">
                                <span><? echo $answer ?></span>
                                <a href="/products/shopping_cart">Назад</a>
                                <input type="submit" id="submitbutton" value="Подтвердить заказ">
                            </div>
                        </div>
                    </div>
                </form>

                <div id="ans"></div>
                <?
            } else
                echo '<h2>Товаров в корзине нет</h2>';
            ?>
        </table>
    </div>

    <script>
        function onSelected(e) {
            var dropdownlist = $("#obl2").data("kendoDropDownList");
            var total = <?php echo $content['total'] ?>;
            var select = dropdownlist._old;

            var val = select.slice(select.indexOf(" - ") + 3, select.indexOf("руб."));
            val = Number(val);

            $("#temp").text(
                'Итого: ' + (total + val) + ' рублей'
            );
        }

        $(function () {
            $('form').submit(function (e) {

                var $form = $(this);
                $.ajax({
                    type: $form.attr('method'),
                    url: "/ajax/check_order",
                    data: $form.serialize()
                }).done(function (answer) {

                    $("#ans").html(answer);

                    if (answer === "true") {
                        console.log("yeah");
                        $('form[id=form]').submit();
                    } else {
                        console.log("not true");
                        grecaptcha.reset();
                        $('input[name=cap]').val(answer);

                        $('span[class=captchaSpan]').text(answer);
                        $('.submitTD span').text('Не все поля заполнены верно');
                        $("#temp2").html(answer);
                    }

                }).fail(function () {
                    console.log("fail");
                    Rgrecaptcha.reset();
                    $('input[name=cap]').val(answer);
                    $('span[class=captchaSpan]').text(answer);
                    $('.submitTD span').text('Не все поля заполнены верно');
                });
            });
        });


        $("#dost").click(function () {
            var dropdownlist = $("#obl2").data("kendoDropDownList");
            var total = <?php echo $content['total'] ?>;
            var select = dropdownlist._old;

            var val = select.slice(select.indexOf(" - ") + 3, select.indexOf("руб."));
            select = Number(val);

            $("#temp").text(
                'Итого: ' + (total + select) + ' рублей'
            );

            $("input[name=type]").val("Доставка на дом");
            $("#sam").css('background', '#290a89');
            $(this).css('background', '#19084c');
            $("#samForm").slideUp(200);
            $("#dostForm").slideDown(200);
        });

        $("#sam").click(function () {
            var total = <?php echo $content['total'] ?>;
            $("#temp").text(
                'Итого: ' + total + ' рублей'
            );
            $("input[name=type]").val("Самовывоз");
            $("#dost").css('background', '#290a89');
            $(this).css('background', '#19084c');
            $("#dostForm").slideUp(200);
            $("#samForm").slideDown(200);
        });

    </script>

<?php } elseif ($flag === false) {
    ?>
ddd

    <?
} else {
    ?>
    <div class="noMessages">
        <h1>Заказ был успешно оформлен. Его номер: <?php echo $number ?></h1><br>
        Если вы указывали свой емайл, то все подробности по заказу будут высланы на него.<br>
        В ближайшее время с вами свяжется оператор для уточнения деталей. <a href="./../../">На главную?</a>
    </div>
<?php } ?>
<br><br><br><br><br>
