<?php
require_once "{$GLOBALS['path']}/kendo/lib/Kendo/Autoload.php";

?>

<div style="padding: 10px">
    <div class="pathPage">
        <a href="/">Главная</a> » <a
                href="/products/list/<?php echo $category[0]['c_key'] ?>"><?php echo $category[0]['name'] ?></a> »
        <a href="/products/select/<?php echo $content['id']; ?>"><?php echo $content['name']; ?></a>
    </div>

    <h1 id="head"><?php echo $content['name'] ?></h1>

    <div class="pr_container">
        <main class="pr_content">

            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <?php

                        if (count($product_img) != 0) {
                            foreach ($product_img as $img) {

                                echo "<li data-thumb=\"/resources/imagebrowser/products/main/{$img['img']}\">
                                
                            <img src=\"/resources/imagebrowser/products/main/{$img['img']}\" title=\"{$img['article']} {$img['stat']}\" />
                                </li>
                                ";
                            }
                        }
                        ?>
                    </ul>
                </div>
            </section>

            <script>
                $(".slider").click(function () {
                    var title = $(".flex-active-slide img").attr('title');
                    var stat = title.substr(title.indexOf(" ") + 1);
                    title = title.substr(0, title.indexOf(" "));
                    var statValue = "Ошибка!";

                    $(".btns2").css("display", "inline");

                    if (stat === "В наличии")
                        statValue = "<b style='color: green'>&#9733; " + stat + "</b>";
                    else if (stat === "Под заказ")
                        statValue = "<b style='color: #ffc21d'>&#9998; " + stat + "</b>";
                    else if (stat === "Ожидается доставка")
                        statValue = "<b style='color: #ffc21d'>&#9200; " + stat + "</b>";
                    else {
                        statValue = "<b style='color: red'>&#8855; " + stat + "</b>";
                        $(".btns2").css("display", "none");
                    }


                    $("#statt").html(statValue);

                    $("#article").text("Артикул: " + title);
                    var count = $("input[id=" + title + "]").val();
                    $("input[name=add]").val("В корзину (" + count + ")");
                });

            </script>


        </main>
        <!-- .content -->
    </div>
    <!-- .container-->

    <aside class="pr_right-sidebar">
        <div class="pr_r_s_top" style="border-bottom: 1px solid black; padding-bottom: 7px">
            <div id="article" style="font-size: 20px">
                Артикул: <?php echo $product_img[0]['article'] ?><br>
            </div>
            Производитель: <?php echo $manufactorer[$content['man_id']]['name']; ?><br>
            <img src="/resources/imagebrowser/logos/<?php echo $manufactorer[$content['man_id']]['img']; ?>">
        </div>

        <div class="pr_r_s_price">
            <?php echo ($content['act'] != 0) ? "<del>{$content['price']}</del> {$content['act']}" : $content['price'] ?>
            руб
        </div>

        <div class="pr_r_s_filters" style="margin-bottom: 40px">

            <?php


            $filters = array();
            foreach ($filter_type as $value) {
                $filters[$value['id']] = array(
                    'other' => $value['other'],
                    'name' => $value['name'],
                    'view' => $value['view'],
                );
            }

            foreach ($catFilters as $filterType) {

                $selectFilter = $filters[$filterType['id_filter_type']];

                if ($selectFilter['view'] !== '0') {
                    $flag = true;
                    foreach ($oldFilters as $key => $productFilter) {
                        if ((int)$productFilter['id_filter_type'] === (int)$filterType['id_filter_type']) {
                            // write filter-type name only with filters
                            if ($flag) {
                                echo "<h3>{$selectFilter['name']}: </h3>";
                                $flag = false;
                            }
                            // write value selected filter-type
                            if ($selectFilter['view'] === '2') {
                                echo "<span>{$productFilter['value']}</span>";
                            } elseif ($selectFilter['view'] === '1') {
                                echo "<span title='{$productFilter['value']}' style='background: {$productFilter['dop_value']}'>&nbsp;&nbsp;</span>";
                            } else
                                echo $productFilter['value'] . "; ";
                            unset($oldFilters[$key]);
                        }
                    }
                }
            }
            ?>

        </div>

        <div id="statt">
            <?php
            if ($product_img[0]['stat'] === "В наличии")
                echo "<b style='color: green'>&#9733; {$product_img[0]['stat']}</b>";
            elseif ($product_img[0]['stat'] === "Под заказ")
                echo "<b style='color: #ffc21d'>&#9998; {$product_img[0]['stat']}</b>";
            elseif ($product_img[0]['stat'] === "Ожидается доставка")
                echo "<b style='color: #ffc21d'>&#9200; {$product_img[0]['stat']}</b>";
            else {
                echo "<b style='color: red'>&#8855; {$product_img[0]['stat']}</b>";
            }
            ?>
        </div>
        <br>

        <input type="hidden" name="id" value="<?php echo $content['id'] ?>">

        <input type="hidden" name="price"
               value="<?php echo ($content['act'] != 0) ? "{$content['act']}" : $content['price'] ?>">


        <?php
        $flag = null;
        if (count($product_img) != 0) {
            foreach ($product_img as $img) {

                if ($flag === null)
                    $flag = $articles[$img['article']]['count'];

                $count = $articles[$img['article']]['count'] === '' ? 0 : $articles[$img['article']]['count'];
                echo "<input type='hidden' value='{$count}' id='{$img['article']}'>";
            }
        }
        ?>

        <div class="btns2" <?php if ($product_img[0]['stat'] === 'Нет в наличии') {
            echo "style='display: none'";
        } ?>>

            <input type="button" name="add" value="В корзину (<?php echo $flag ?>)">
            <a href="/products/shopping_cart">Купить</a>

        </div>

    </aside>
    <!-- .right-sidebar -->

    <div class="select_blocks">
        <button style="background: #19084c" id="har">Характеристики</button>
        <button id="op">Описание</button>
        <button id="ot">Отзывы</button>
    </div>


    <div class="select_content" id="har_c">
        <?php echo $content['har']; ?>
    </div>

    <div class="select_content" id="op_c" style="display: none">
        <?php echo $content['text']; ?>
    </div>

    <div class="select_content" id="ot_c" style="display: none">
        <?php
        if ($otz == null) {

        } else {
            foreach ($otz as $key => $ot) {
                ?>
                <div class="otz">
                    <header><?php echo '#' . $ot['id'] . ' : ' . $ot['name'] ?></header>
                    <article>
                        <div class="ratingValue">
                            <?php
                            for ($i = 1; $i <= 5; $i++) {
                                if ($i <= $ot['ball'])
                                    echo "<img src='/resources/images/yes.png'>";
                                else
                                    echo "<img src='/resources/images/no.png'>";
                            }
                            ?>
                        </div>
                        <div style="color: green">
                            <b>Достоинства: </b><?php echo $ot['good'] ?>
                        </div>

                        <div style="color: red;  padding: 10px 0;">
                            <b>Недостатки: </b><?php echo $ot['bad'] ?>
                        </div>

                        <?php echo $ot['text'] ?>
                    </article>
                    <footer><?php echo $ot['date'] ?></footer>
                </div>
            <?php }
        } ?>

        <form class="formField" id="form" action="" method="post">

            <input type="hidden" name="product" value="<?php echo $content['id'] ?>">

            <div class="padd">
                <h3>Ваше имя</h3>
            </div>
            <div class="value">
                <input type="text" name="name" placeholder="Длинна от 4 до 100 символов" maxlength="100" minlength="4">
            </div>


            <div class="padd">
                <h3>Ваша оценка</h3>
            </div>
            <div class="value" style="margin-bottom: 30px">
                <div id="reviewStars-input">
                    <input value="5" id="star-4" type="radio" name="reviewStars"/>
                    <label title="Отлично" for="star-4"></label>

                    <input value="4" id="star-3" type="radio" name="reviewStars"/>
                    <label title="Хорошо" for="star-3"></label>

                    <input value="3" id="star-2" type="radio" name="reviewStars"/>
                    <label title="Удовлетворительно" for="star-2"></label>

                    <input value="2" id="star-1" type="radio" name="reviewStars"/>
                    <label title="Плохо" for="star-1"></label>

                    <input value="1" id="star-0" type="radio" name="reviewStars"/>
                    <label title="Ужасно" for="star-0"></label>
                    <input type="hidden" name='rat' value="0">
                </div>
            </div>

            <div class="padd">
                <h3>Достоинства</h3>
            </div>
            <div class="value">
                <textarea name="good" maxlength="2000" minlength="10"
                          placeholder="Длинна от 10 до 2000 символов"></textarea>
            </div>

            <div class="padd">
                <h3>Недостатки</h3>
            </div>
            <div class="value">
                <textarea name="bad" maxlength="2000" minlength="10"
                          placeholder="Длинна от 10 до 2000 символов"></textarea>
            </div>

            <div class="padd">
                <h3>Комментарий</h3>
            </div>
            <div class="value">
                <textarea name="text" maxlength="2000" minlength="10"
                          placeholder="Длинна от 10 до 2000 символов"></textarea>
            </div>

            <div class="btns" style="margin: 20px;">

                <div class="g-recaptcha" data-sitekey="6LfUFioUAAAAAIixjiUkIqwKzNIIvI4VaRaDKNcB"></div>
                <br><br>
                <div class="submitTD">
                    <input type="submit" id="submitbutton" value="Добавить отзыв"><span><? echo $answer ?></span>
                </div>
            </div>

        </form>
    </div>
    <br>
    <div id="temp"></div>
    <script>

        $(function () {
            SyntaxHighlighter.all();
        });

        $(window).load(function () {
            $('.flexslider').flexslider({
                controlNav: "thumbnails",
                animationLoop: false,
                slideshow: false,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });


        $("input[name=reviewStars]").click(function () {
            $("input[name=rat]").val(
                $(this).val()
            );
        });

        $(".btns2 a").click(function () {
            var count = $("input[name=count]").val();
            if (count == 0)
                $(".btns2 input").click();
        });


        $(function () {
            $('form').submit(function (e) {
                var $form = $(this);
                $.ajax({
                    type: $form.attr('method'),
                    url: "/ajax/add_otz",
                    data: $form.serialize()
                }).done(function (answer) {

                    if (answer.length > 20) {
                        $("#form").css("display", "none");
                        $("#ot_c").append(answer);
                    } else {
                        grecaptcha.reset();
                        $('input[name=cap]').val(answer);
                        $('span[class=captchaSpan]').text(answer);
                        $('.submitTD span').text('Не все поля заполнены верно');
                    }

                }).fail(function () {
                    console.log('fail');
                });
                e.preventDefault();
            });
        });


        $(document).ready(
            function () {
                width = $(window).width();
                if (width < 800) {
                    $('.pr_right-sidebar').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
                    $('.pr_content').css({"padding-right": "0"});
                } else {
                    $('.pr_right-sidebar').css({"margin-left": "-300px", "width": "300px", "padding-bottom": "0"});
                    $('.pr_content').css({"padding-right": "315px"});
                }
            }
        );


        $(window).resize(function () {
            width = $(window).width();
            if (width < 800) {
                $('.pr_right-sidebar').css({"margin-left": "0", "width": "100%", "padding-bottom": "20px"});
                $('.pr_content').css({"padding-right": "0"});
            } else {
                $('.pr_right-sidebar').css({"margin-left": "-300px", "width": "300px", "padding-bottom": "0"});
                $('.pr_content').css({"padding-right": "315px"});
            }
        });


        $(".otz:odd").css('background', '#f5f5f5');

        $("input[name=add]").click(function () {
            var art = $(".flex-active-slide img").attr('title');
            art = art.substr(0, art.indexOf(" "));

            var id = $("input[name=id]").val();
            var price = $("input[name=price]").val();
            var count = $("input[id=" + art + "]").val();

            console.log(count);

            Number(count);
            count++;

            $("input[id=" + art + "]").val(count);

            $(this).val("В корзину (" + count + ")");

            $.post('/ajax/add_product', {'id': id, 'count': count, 'price': price, 'article': art}, function (answer) {

                $("#temp").html(answer);

                if (answer === 'true') {
                    $.post('/ajax/get_product', {}, function (answer) {
                        $("#shopping_cart").text(answer);
                    });

                } else {
                    //                    alert('Произошла ошибка!');

                }
            });

        });

        $("#op").click(function () {
            $("#har").css('background', '#290a89');
            $("#ot").css('background', '#290a89');
            $(this).css('background', '#19084c');

            $("#har_c").slideUp(200);
            $("#ot_c").slideUp(200);
            $("#op_c").slideDown(200);
        });

        $("#har").click(function () {
            $("#op").css('background', '#290a89');
            $("#ot").css('background', '#290a89');
            $(this).css('background', '#19084c');

            $("#op_c").slideUp(200);
            $("#ot_c").slideUp(200);
            $("#har_c").slideDown(200);
        });

        $("#ot").click(function () {
            $("#har").css('background', '#290a89');
            $("#op").css('background', '#290a89');
            $(this).css('background', '#19084c');

            $("#har_c").slideUp(200);
            $("#op_c").slideUp(200);
            $("#ot_c").slideDown(200);
        });
    </script>

    <script>
        <!--
        [
        if IE]
        >
        var widthWr = Number($(".wrapper").width());
        $(".pr_content img").css({"width": widthWr - 335});

        $(window).resize(function () {
            var width = $(window).width();
            var widthWr = Number($(".wrapper").width());

            if (width < 800) {
                $(".pr_content img").css({"width": widthWr});
            } else {
                $(".pr_content img").css({"width": widthWr - 335});
            }
        });

        <
        ![endif]-->
    </script>


</div>