<h1 id="head">Корзина товаров</h1>

<div class="shoping_cart">

    <?php


    if ($content != null) {
        ?>
        <form action="" method="post">
            <table width="100%">
                <tr class="table-header">
                    <td>Название</td>
                    <td style="width: 100px">Артикул</td>
                    <td style="width: 150px">Стоимость товара</td>
                    <td style="width: 120px">Количество</td>
                    <td style="width: 130px">Всего</td>
                </tr>


                <?


                foreach ($content as $key => $product) {
                    if (is_array($product)) {
                        ?>
                        <tr>
                            <td><a href="/products/select/<?php echo $product['id'] ?>"><?php echo $product['name'] ?></a></td>
                            <td><?php echo $product['article'] ?></td>
                            <td class="price">
                                <?php echo ($product['act'] != 0) ? "<del>{$product['price']}</del> {$product['act']}" : $product['price'] ?>,00 руб</td>
                            <td><input type="text" value="<?php echo $product['count'] ?>"
                                       name="<?php echo $product['article'] ?>"></td>
                            <td class="totalprice"><?php echo $product['totalprice'] ?>,00 руб</td>
                        </tr>
                        <?
                    }
                } ?>
                <tr class="table-header">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><?php echo $content['total'] ?>,00 руб</td>
                </tr>
            </table>

            <div class="btns">
                <input type="submit" value="Обновить таблицу">
                <a href="/products/new_order">Оформить заказ</a>
            </div>
        </form>
        <?

    } else
        echo '<h2>Товаров в корзине нет</h2>';
    ?>
    <script>
        document.getElementsByTagName('input')[0].onkeypress = function (e) {

            e = e || event;

            if (e.ctrlKey || e.altKey || e.metaKey) return;

            var chr = getChar(e);

            // с null надо осторожно в неравенствах, т.к. например null >= '0' => true!
            // на всякий случай лучше вынести проверку chr == null отдельно
            if (chr == null) return;

            if (chr < '0' || chr > '9') {
                return false;
            }

        }

        function getChar(event) {
            if (event.which == null) {
                if (event.keyCode < 32) return null;
                return String.fromCharCode(event.keyCode) // IE
            }

            if (event.which != 0 && event.charCode != 0) {
                if (event.which < 32) return null;
                return String.fromCharCode(event.which) // остальные
            }

            return null; // специальная клавиша
        }
    </script>

</div>