<div id='slider-range'></div>
<script src="/content/js/jquery-ui.js"></script>
<script>

    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 41,
            max: 342222,
            values: [41, 342222],
            slide: function (event, ui) {
                $("input[name=minPrice]").val(ui.values[0]);
                $("input[name=maxPrice]").val(ui.values[1]);
            }
        });
    });


</script>