/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 500px;
	max-width: 1100px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	width: 100%;
	height: 170px;
	background: #12171d url(../../resources/images/topf.jpg) repeat-x;
	border-bottom: 5px solid #c5c5c5;
}


.logo {
	float:left;
	width:418px;
	height:151px;
	color:#fff;
	position:absolute;
	z-index:0;
}

.logo h4 {
	color: #0ca48a;
	font:34px Arial;
	font-style:italic;
	margin: 75px 5px 5px 10px;
}

.logo span {
	font: 14px Arial;
	font-style: italic;
	margin-left: 70px;
}

.clear {
	clear:both;
}

.med1 {
	margin: 0 auto;
	min-width: 500px;
	max-width: 1100px;
}

.clear {
	clear: both;
}

.topnav li {
	display: inline;
}

.topnav {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	color: #fff;
	position: relative;
	z-index: 10;
	width: auto;
}

.topnav li a {
	display: block;
	float: left;
	color: #fff;
	padding: 18px 14px;
	font-weight: bold;
	text-decoration: none;
	z-index: 10;
}

.topnav li a:hover {
	background: url(../../resources/images/mh.png) repeat-x;
}


/* Middle
-----------------------------------------------------------------------------*/
.mainMenu input[type=text]{
	font-size: 15px;
	margin: 10px 0;
	padding: 5px 14px;
}

.mainMenu td input[type=text]{
	width: 90%;
	margin: 0;
}

.mainMenu{
	font-size: 15px;
	color: #555555;
}

.mainMenu table td{
	padding: 10px;
}


.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

.content{
	padding: 10px;
}

#head{
	color: #0ca48a;
	font-size: 23px;
	line-height: 34px;
	padding: 20px 11px 15px;
}

#head a{
	color: #0ca48a;
}

#head a:hover{
	text-decoration: none;
}


.formField .padd h3 {
	font-weight: bold;
	font-size: 15px;
	padding: 4px 0;
	color: #424242;
}


.padd span, .padd2 span{
	font-size: 17px;
}

.padd2 input{
	width: 130px;
	padding: 3px 5px;
	font-size: 11px;
	margin: 3px 0 3px 3px;

}

.padd2{
	margin-left: 20px;
}

.addFilter{
	margin-bottom: 20px;
	text-decoration: underline;
	cursor: pointer;
	font-style: italic;
}


.formField span {
	font-size: 11px;
	color: #6a6a6a;
}

.formField > .value > input {
	min-width: 200px;
	width: 400px;
	padding: 5px 10px;
	font: 15px Arial, sans-serif;
}

.formField > .value > b {
	font-weight: bold;
	color: #0ca48a;
}


.formField .value{
	margin: 5px 10px 5px 10px;
	padding: 10px;
}

.formField .value i{
	padding-left: 30px;
	color: #0ca48a;
	font-style: italic;
}

.formField {
	margin-top: 15px;
	border: 1px solid #f1f1f1;
	width: 100%;
}

.formField .padd{
	padding: 7px 0 0 10px;
}



.formField .padd b{
	font-weight: bold;
}



/* slider
-----------------------------------------------------------------------------*/

.sliderA {
	width: 100%;
	position: relative;
	text-align: center;
}

.sliderA > input {
	display: none;
}

.sliderA > input + label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background: rgba(90, 90, 90, 0.8);
	border: 2px solid rgba(190, 190, 190, 0.8);
	cursor: pointer;
	z-index: 100;
	position: relative;
	margin-right: 4px;
	top: 90%;
	transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
	background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
	background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
	font-size: 17px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

.sliderA > div {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.sliderA > div > p {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}




/* Footer
-----------------------------------------------------------------------------*/

.foot{
	min-width: 500px;
	max-width: 1100px;
	margin: 0 auto;
}

.foot a{
	text-decoration: none;
	color: #fff;
	line-height: 28px;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
}


.footer {
	width: 100%;
	background: #12171d url(../../resources/images/topf.jpg) 0 -55px repeat-x;
	border-top: 5px solid #c5c5c5;
	text-align: center;
	color: #fff;
	padding: 20px 0 10px 0;
}
