@font-face {
    font-family: IsoPeur;
    src: url(ISOCPEUR.ttf);
}

html, body, div, applet, object {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: IsoPeur;
    vertical-align: baseline;
    font-size: 15px;
}

input, textarea {
    font-family: IsoPeur;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

body {
    font: 12px/18px Arial, sans-serif;
    height: 100%;
}

.wrapper {
    min-width: 600px;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 190px;
    background: #2c038d;
    border-bottom: 1px solid black;
}

.header .h_content a {
    padding: 0;
    margin: 0;
}

.h_container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.h_content {
    padding: 0;
}

.h_right-sidebar {
    text-align: right;
    float: left;
    width: 500px;
    z-index: 1000;
    margin-left: -500px;
    position: relative;
}

.headBlock {
    margin-right: 20px;
    height: 100%;
}

.topMenu {
    padding-top: 10px;
}

.topMenu a {
    text-decoration: none;
    color: #fff;
    line-height: 28px;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0 10px 20px;
}

.topMenu a:hover {
    text-decoration: underline;
}

.sh_c {
    margin-top: 50px;
}

.sh_c a {
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 5px 5px 27px;
    background: #2c038d url(../../resources/images/s_c.png) 0 7px no-repeat;
}

.sh_c a:hover {
    color: #ff811d;
}

.head_info {
    padding-top: 10px;
    font-size: 21px;
    font-style: italic;
    line-height: 24px;
    color: #ff811d;
}

.med1 {
    min-width: 650px;
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100%;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 50px;
    position: relative;
}

.middle:after, .sliderMiddle:after {
    display: table;
    clear: both;
    content: '';
}

.sliderMiddle{
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 0 0 340px;
}

.content table {
    width: 100%;
}

.content table td {
    padding: 5px 10px;
    border: 1px solid black;
}

#head {
    color: #ff811d;
    font-size: 30px;
    line-height: 26px;
    padding: 20px 11px 15px;

}

.formField .padd h3 {
    font-weight: bold;
    font-size: 20px;
    color: #424242;
}

.formField .padd h3 span {
    font-size: 20px;
    color: #ff811d;
}

.formField span {
    font-size: 11px;
    color: #6a6a6a;
}

.formField > .value > input {
    min-width: 200px;
    width: 400px;
    padding: 5px 10px;
    font-size: 17px;
}

.formField .value {
    margin: 5px 10px 5px 10px;
    padding: 10px;
    font-size: 18px;
}

.formField .value textarea {
    min-width: 200px;
    width: 400px;
    padding: 5px 10px;
    font-size: 15px;
}

.formField .value i {
    padding-left: 30px;
    color: #0ca48a;
    font-style: italic;
}

.formField {
    margin-top: 15px;
    width: 100%;
}

.formField .padd {
    padding: 7px 0 0 10px;
}

.mainArticles {
    z-index: 100;
}

.mainArticles .articleHeader {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    padding: 30px 0 20px 0;
    color: #2f2f2f;
}

.mainArticles .articleHeader a {
    text-decoration: none;
    color: #2f2f2f;
}

.mainArticles .blocks {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 25px;
}

.blocks a {
    text-decoration: none;
}

.mainArticles .blocks .ablock {
    width: 345px;
    color: #555;
    display: inline-block;
    font-size: 17px;
    padding-bottom: 8px;
    margin: 0 3px;
}

.menu_cat .ablock {
    display: inline-block;
    width: 345px;
    color: #555;
    line-height: 25px;
    font-size: 17px;
    height: 280px;
    text-align: center;
}

.menu_cat .ablock img {
    width: 345px;
    height: 240px;

}

.mainArticles .blocks .ablock:hover {
    background: #e8e9ec;
}

.blocks .ablock:hover {
    background: #e8e9ec;
}

.mainArticles .blocks .ablock img {
    width: 345px;
    height: 240px;
}

.content img {
    max-width: 100%;
}

.mainHeaderBlock {
    width: 100%;

}

.main_img img {
    max-width: 100%;
}

.main_text {
    padding-left: 10px;
    font-size: 25px;
    line-height: 35px;
}

.mainHeaderBlock table td {
    vertical-align: top;

}

.list-item {
    padding: 10px 0 7px 0;
    width: 100%;
}

.list-item header {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #2f2f2f;
}

.list-item header a {
    padding-left: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #2f2f2f;
}

.list-item > #head {
    padding: 0 0 0 20px;
}

.list-item footer {
    padding-top: 10px;
    font-size: 15px;
    padding-left: 15px;
    font-style: italic;
}

.list-item article table td img {
    width: 250px;
}

.list-item article table td {
    vertical-align: top;
    padding: 0;
    border: 0;
}

.list-item article .dop {
    font-size: 17px;
    line-height: 23px;
    margin: 17px 0 10px 15px;
}

.list-item article .dop b {
    line-height: 40px;
}

.list-item article .dop span {
    font-weight: bold;
}

.list-item article .span {
    font-size: 28px;
    font-weight: bold;
    color: #ff811d;
    margin: 0 15px;
}

.list-item article {
    font-size: 16px;
    padding: 30px 15px;
}

.list-item article img {
    max-width: 100%;
}

.shoping_cart {
    padding: 10px;
}

.shoping_cart table td {
    padding: 15px 10px;
    font-size: 17px;
}

.shoping_cart table td a {
    color: black;
    text-decoration: underline;
}

.shoping_cart table td a:hover {
    text-decoration: none;
}

.shoping_cart table td input {
    width: 65px;
    padding: 5px 10px;
    font-size: 15px;
}

.shoping_cart .btns {
    float: right;
    padding: 10px;
}

.btns input {
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 9px 15px;
    cursor: pointer;
}

.btns input:hover {
    background: #19084c;
}

.btns a:hover {
    background: #19084c;
}

.btns a {
    text-decoration: none;
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 9px 15px;
    cursor: pointer;
}

.btns2 input {
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    padding: 13px 20px;
    cursor: pointer;
}

.btns2 input:hover {
    background: #19084c;
}

.btns2 a:hover {
    background: #19084c;
}

.btns2 a {
    text-decoration: none;
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    padding: 13px 20px;
    cursor: pointer;
}

.noMessages {
    font-size: 20px;
    line-height: 40px;
    border-left: 3px solid red;
    padding: 20px 20px 40px 20px;
    background: #f5f5f5;
}

.noMessages2 {
    text-align: right;
    font-size: 18px;
    padding: 15px 40px 15px 15px;
    background: #f5f5f5;
}

.shoping_cart table .table-header {
    background: #f1f1f1;
    color: #555555;
    font-weight: bold;

}

.btn {
    text-align: center;
    width: 150px;
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 12px 15px;
    cursor: pointer;
}

.sortHeader table {
    width: 100%;
}

.sortHeader table td:nth-child(2) {
    text-align: right;
}

.sortHeader table td span {
    text-align: left;
}

.sortHeader table td b {
    font-size: 18px;
    line-height: 36px;
    font-weight: normal;
}

.btn:hover {
    background: #19084c;
}

.site-content {
    padding: 10px;
    font-size: 18px;
}

.site-content img {
    max-width: 100%;
}

.textContent img {
    max-width: 100%;
}

.textContent {
    padding-left: 15px;
}

.c_img {
    text-align: center;
}

.c_img img {
    max-width: 100%;
}

.pathPage {
    padding-left: 10px;
    color: #2c038d;
    font-size: 15px;
}

.pathPage a {
    text-decoration: underline;
    color: #2c038d;
}

.pathPage a:hover {
    text-decoration: none;
}

.select_blocks button {
    font-family: IsoPeur;
    font-size: 18px;
    padding: 9px 20px;
    text-align: center;
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.select_blocks {
    padding-bottom: 20px;
}

.pageables {
    text-align: center;
    margin: 100px 0 20px 0;
}

.pageables a {
    margin: 1px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 10px;
    background: #2c038d;
    border: 1px solid #000;
}

.pageables a:hover {
    background: #19084c;
}

.downList span {
    font-size: 15px;
}

.pageables .pageables_selected {
    background: #19084c;
}

.ratingValue {
    margin: 4px 0 7px 0;
}

.otz {
    padding: 10px;
    margin: 5px 0;
}

.otz header {
    font-weight: bold;
    font-size: 18px;
}

.otz article {
    padding: 10px 0 10px 15px;
}

.otz article table td {
    width: 50%;
    vertical-align: top;
    padding: 20px 0 0 0;
}

.otz footer {
    padding-top: 5px;
    font-style: italic;
    color: #999;
}

.captchaSpan {
    font-weight: bold;
}

.submitTD span {
    font-size: 17px;
    color: red;
    padding: 0 20px;
}

.art {
    font-size: 16px;
    margin: 0 0 20px 15px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 330px;
    background: #2c038d;
}

.left-sidebar a {
    color: #fff;
}

.select-sidebar {
    color: #555;
    padding: 15px 0;
    font-size: 14px;
}

.select-sidebar input[type=text] {
    margin-left: 5px;
    width: 16px;
    color: #555;
    padding: 5px 10px 7px 10px;
    font-size: 14px;
}

.select-sidebar input[type=button] {
    width: 37px;
    font-size: 14px;
    text-align: center;
    background: #2c038d;
    border: 1px solid black;
    font-weight: bold;
    color: #fff;
    padding: 4px 13px 6px 13px;
    cursor: pointer;
}

.select-sidebar input[type=button]:hover {
    background: #19084c;
}

.left-sidebar2 {
    float: left;
    margin-left: -100%;
    position: relative;
    width: 330px;
    background: #f5f5f5;
}

.left-sidebar2 .cont {
    padding: 20px;
}

.left-sidebar2 header {
    margin: 17px 0 20px 0;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    color: #000;

}

.left-sidebar2 span {
    width: 100%
}

.left-sidebar2 .kendo_w {
    width: 89%;
}

.kendo_w span {
    font-size: 15px;
}

.mainMenu {
    z-index: 1000;
}

.left-search {
    padding: 10px;
    border-bottom: 1px solid black;
}

.left-search > input {
    border: 0px;
    font-size: 18px;
    padding: 7px 13px;
    width: 283px;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.price #slider-range {
    width: 93%;
    margin: 20px 8px;
}

.price table {
    width: 100%;
}

.price a {
    line-height: 30px;
    margin: 17px 0 20px 20px;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    color: #ff811d;
    text-decoration: underline;
}

.price a:hover {
    text-decoration: none;
}

.td_r span {
    font-size: 15px;
}

.price table td:nth-child(2) {
    text-align: right;
}

.price input {
    font-size: 16px;
    padding: 4px 5px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    width: 90%
}

.vertMenu {
    border: 0;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background: #2c038d;
    width: 310px;
}

.vertMenu li a {
    color: #fff;
}

.vertMenu li li a{
    color: #2e2e2e;
}

.vertMenu li {
    padding: 2px 0;
}

.select_content {
    font-size: 16px;
}

.select_content img {
    max-width: 100%;
}

.select_content table {
    width: 100%
}

.select_content table td {
    padding: 5px 10px
}

.select_content table tr:nth-child(odd) {
    background: #f1f1f1;
}

.pr_middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.pr_middle:after {
    display: table;
    clear: both;
    content: '';
}

.pr_container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.pr_content {
    padding: 0 315px 20px 0;
}

.pr_content img {
    max-width: 100%;
}

.pr_right-sidebar {
    font-weight: bold;
    font-size: 29px;
    line-height: 30px;
    float: left;
    width: 300px;
    margin-left: -300px;
    position: relative;
}

.pr_right-sidebar .pr_r_s_top, .pr_r_s_filters {
    font-size: 20px;
    line-height: 30px;
}

.pr_r_s_filters h3 {
    font-size: 20px;
    line-height: 20px;
}

.pr_r_s_top img {
    padding-top: 5px;
    height: 100px;
}

.pr_right-sidebar .pr_r_s_price {
    margin: 20px 0;
    font-size: 44px;
    color: #ff811d;
    line-height: 45px;
}

.pr_right-sidebar .pr_r_s_filters span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 13px;
    font-weight: normal;
    margin-right: 5px;
}

.pr_right-sidebar b {
    font-size: 25px;
}

.men_middle {
    width: 100%;
    position: relative;
}

.men_middle:after {
    display: table;
    clear: both;
}

.men_container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.men_content {
    z-index: 50;

}

.men_left-sidebar {
    z-index: 100;
    float: left;
    width: 330px;
    margin-left: -100%;
    position: relative;
    background: #B5E3FF;
}

/* slider
-----------------------------------------------------------------------------*/

.sliderA {
    position: relative;
    text-align: right;
}

.sliderA > input {
    display: none;
}

.sliderA > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 90%;
    transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
    font-size: 17px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderA > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.sliderA > div > p {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.sliderA > input + label + div + label {
    display: none;
}

.sliderA > input:checked + label + div + label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 50;
}

/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url(/resources/images/ico.png) no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}

#reviewStars-input #star-1 {
    left: 53px;
}

#reviewStars-input #star-2 {
    left: 106px;
}

#reviewStars-input #star-3 {
    left: 159px;
}

#reviewStars-input #star-4 {
    left: 212px;
}

#reviewStars-input #star-5 {
    left: 265px;
}

/* Search
-----------------------------------------------------------------------------*/
.ser_container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.ser_content {
    padding: 0 0 0 50%;
}

.ser_left-sidebar {
    float: left;
    width: 50%;
    margin-left: -100%;
    position: relative;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    color: #fff;
    font-size: 17px;
    margin: -100px auto 0;
    width: 100%;
    position: relative;
    display: block;
    background: #2c038d;
}

.foot {
    min-width: 600px;
    max-width: 1500px;
    margin: 0 auto;
}

.footInfo {
    border-top: 1px solid #000;
    line-height: 20px;
    padding: 10px 20px;

}

.footInfo table td {
    font-size: 16px;
    font-style: italic;
    color: #ff811d;
    vertical-align: middle;
}

.footInfo table {
    width: 100%;
}

.footInfo .tbl2 td {
    line-height: 15px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
}

.footFoot {
    line-height: 28px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
}
